@charset "utf-8";

// ==========以下固定パーツ==========

//基本数値の操作はこちらを変更します。
@import "../common/css/_setup";

// === 取り扱い説明 ==
// =1.PC・タブレットのみ適用させるとき
// @include mq-up() {Stylesheet}

// =スマートフォンのみ適用させるとき
//　@include mq-down() {Stylesheet}

// $font-size : fontの標準サイズ
// $row :各段落の幅の標準サイズ
// $line_height : 行幅

// ==========以下記述箇所==========

main {
  .branding {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    @include mq-up() {
      height: 68.3rem;
    }
    @include mq-down() {
      height: 55vh;
    }
    background: linear-gradient(to bottom,#95c4d0 0%, #99c6d2 19%, #a3ccd7 38%, #b6d7df 55%, #cfe5eb 71%, #eaf4f8 85%, rgba(234,244,248,0) 85.1%);
    .image {
      > * {
        @include mq-up() {
          height: 68.3rem;
        }
        @include mq-down() {
          height: 55vh;
        }
        @media screen\0 {
          position: absolute;
          width: 204.8rem;
          top: 0;
          bottom: 0;
          left: calc(50% - 102.4rem);
          right: calc(50% - 102.4rem);
        }
      }
    }
    .caption {
      position: absolute;
      @include mq-up() {
        left: calc(50% - 4rem);
        top: 10rem;
        font-size: 3.3rem;
        line-height: 1;
      }
      @include mq-down() {
        left: 0;
        right: 0;
        top: 5vh;
        font-size: 2rem;
        text-align: center;
      }
      letter-spacing: 0.018em;
      color: #fff;
    }
  }
  .overview {
    @media screen\0 {
      display: block;
    }
    @include mq-down() {
      margin-top: 0;
    }
    > .fx_row_r {
      @media screen\0 {
        margin: auto;
        max-width: 97rem;
      }
      @media screen and (max-width: 970px) {
        flex-direction: column;
      }
    }
    .svg1_1 {
      @include mq-up() {
        width: 19.7rem;
        height: 18.4rem;
        margin-left: 7rem;
        @media screen and (max-width: 87rem) {
          width: 100%;
          margin-left: 0;
          margin-bottom: $row;
          > img {
            margin: auto;
              max-width: 19.7rem;
          }
        }
      }
      @include mq-down() {
        width: 33vw;
        height: auto;
        margin: 0 auto $font_size;//-$row auto $font_size;
      }
      display: flex;
      align-items: center;
    }
    .catch {
      @include mq-up() {
        min-width: 70rem;
      }
      @include mq-down() {
        width: 100%;
      }
      h2 {
        @include mq-up() {
          font-size: 3.9rem;
          line-height: 1.65;
          margin-top: -1rem;
          letter-spacing: 0.14em;
        }
        @include mq-down() {
          font-size: 3.2rem;
        }
      }
      p {
        @include mq-up() {
          font-size: 1.75rem;
          line-height: 3;
          letter-spacing: 0.26em;
          + p {
            padding-right: 1.5em;
          }
          @include mq-down() {
            + p {
              margin-top: 1em;
            }
          }
        }
      }
    }
    .svg1_2 {
      position: absolute;
      @include mq-up() {
        width: 8.7rem;
        height: 19.3rem;
        left: 2.2rem;
        bottom: -#{$row * 2 + 0.3rem};
      }
      @include mq-down() {
        width: 8.7rem;
        height: 19.3rem;
        right: -2rem;
        bottom: -#{$row * 2};
      }
    }
    @include mq-up() {
        min-height: 40rem;
//        margin-bottom: -$row;
    }
    @include mq-down() {
      .fx_row_r {
        flex-direction: column;
      }
      .txt_vrl  {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        padding: 0;
      }
    }
  }
  .sidestreet {
    .catch {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include mq-up() {
        padding: 7rem;
      }
      @include mq-down() {
        padding: $row 0;
        img {
          width: 100%;
        }
      }
      h2 {
        text-align: center;
        .show_image {
          width: 100%;
          max-width: 44.6rem;
        }
      }
    }
  }
  @include mq-down() {
    .sp_slider {
      overflow-x: scroll;
      >* {
        width: calc(250% + (#{$font-size} * 5))!important;
      }
    }
  }
  .tenant {
    ul {
      @include mq-up() {
        height: 21rem;
      }
      >* {
        background-size: cover;
        > a, > span {
          background-color: rgba(0,0,0,0.5);
          color: #fff;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;// flex-end;
          width: 100%;
          height: 100%;
          font-family: $mincho;
          font-weight: 400;
          transition-duration: 0.3s;
          @include mq-down() {
            padding: $font_size 0;
          }
          > * {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @media screen\0 {
              white-space: nowrap;
              overflow-x: hidden;
            }
            @include mq-up() {
              + * {
                margin-top: 2em;
              }
            }
            &.image {
              height: 100%;
              > img {
                max-width: 60%;
                filter: drop-shadow(0 0 1rem rgba(0,0,0,0.75));
              }
            }
          }
          > span {
            font-size: 0.75em;
          }
          &::after {
            display: none;
          }
        }
        > a:hover {
          background-color: rgba(0,0,0,0.8);
        }
      }
    }
  }
  .shop {
    .search {
      font-weight: 500;
      letter-spacing: 0.2em;
      &::after {
        content: "";
        display: inline-block;
        width: calc(100% - 13em);
        float: right;
        height: 0.9em;
        border-bottom: 0.1rem dashed #b3b3b3;
      }
      + ul {
        margin-top: $row;
        @include mq-down() {
          position: relative;
          left: -#{$font_size}!important;
          width: calc(100% + #{$font_size})!important;
        }
        > li {
          > a {
            padding: 0.5em;
            height: 100%;
            min-height: 3em;
            line-height: calc(2em - 0.4rem);
            color: #808080;
            border: 0.2rem solid #808080;
            border-radius: 1.5em;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
            transition-duration: 0.3s;
            &:hover {
              color: #fff;
              background-color: #808080;
            }
            &::after {
              display: none;
            }
          }
          @include mq-up() {
            font-size: 0.9em;
          }
          @include mq-down() {
            font-size: 0.75em;
            letter-spacing: -0.1em;
          }
        }
      }
    }
    .tab_index {
      > * + * {
        margin-top: 0;
      }
      > ul {
        width: 100%;
        >li {
          &:nth-child(1) {
            border-top: 0.8rem solid #808080;
            color: $color;
            background-color: #f2f2f2;
            cursor: default;
            font-weight: 700;
            padding: 1rem;
          }
          color: #fff;
          text-align: center;
          @include mq-up() {
            width: calc(50% - 1rem);
            letter-spacing: 0.16em;
            + li {
              margin-left: 2rem;
            }
          }
          @include mq-down() {
            width: 50%;
            font-size: 0.8em;
          }
          a {
            display: block;
            background-color: #808080;
            padding: 1.4rem;
            color: #fff;
            text-decoration: none;
            transition-duration: 0.3s;
            &::after {
              display: none;
            }
            &:hover {
              background-color: $link_color;
            }
          }
        }
      }
      > :nth-child(2) {
        @include mq-up() {
          >:nth-child(1) {
            padding: $row;
          }
        }
        @include mq-down() {
          >:nth-child(1) {
            padding: $font_size;
            > * {
              width: 100%;
            }
          }
        }
      }
      div {
        background-color: #f2f2f2;
        [class*="column"] {
          left: -#{$font_size / 2};
        }
      }
    }
  }
  .news {
    background-color: #f2f2f2;
    padding: #{$row} 0;
    .list {
      >* {
        position: relative;
      }
      a {
        display: block;
        color: $color;
        text-decoration: none;
        filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2));
        &::after {
          display: none;
        }
        * {
          display: block;
        }
        >.img_area {
          padding-top: 100%;
          background-size: cover;
          border-radius: 0.5rem 0.5rem 0 0;
          transition-duration: 0.3s;
          position: relative;
          + * {
            padding: 2rem;
            background-color: #fff;
            border-radius: 0 0 0.5rem 0.5rem;
            @include mq-down() {
              margin-top: 0;
            }
            strong,span {
              font-size: 1.2rem;
              font-weight: 500;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
            }
            .date {
              border-top: 0.1rem dotted $color;
              margin-top: 0.5em;
              padding-top: 0.5em;
              text-align: right;
            }
            transition-duration: 0.3s;
          }
        }
        &:hover {
          >.img_area {
            opacity: 0.5;
            + * {
                background-color: $color;
                color: #fff;
            }
          }
        }
      }
      .new::before {
        content: "New";
        display: block;
        text-align: center;
        position: absolute;
        top: -1.5rem;
        font-size: 2rem;
        letter-spacing: -0.02em;
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        overflow: hidden;
        border-radius: 50%;
        color: #fff;
        background-color: #109b9d;
        font-family: $mincho;
        font-style: italic;
        z-index: 2;
        @include mq-up() {
          left: -1.5rem;
        }
        @include mq-down() {
          left: 1.5rem;
        }
      }
      .img_area::after {
        padding: 0 1em;
        position: absolute;
        display: block;
        min-width: 10rem;
        text-align: center;
        left: 0;
        bottom: 0;
        color: #fff;
      }
      .event .img_area::after {
        content: "EVENT";
        background-color: $gym_color;
      }
      .food .img_area::after {
        content: "FOOD";
        background-color: $cafe_color;
      }
      .shop .img_area::after {
        content: "SHOP";
        background-color: $hotel_color;
      }
    }
  }
}
.opening {
  font-size: 7.5rem;
  font-weight: 900;
  text-align: center;
  color: $link_color;
  letter-spacing: -0.05em;
  strong {
    font-size: 1.5em;
    > span {
      display: inline-block;
      transform: scale(0.75);
    }
  }
  > span {
    display: inline-block;
    line-height: 2em;
    width: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: $link_color;
    transform: scale(0.33);
    margin: 0 -0.5em;
  }
  @include mq-up() {
    font-size: 7.5rem;
  }
  @include mq-down() {
    font-size: 4.5rem;
    line-height: 0.5;
    margin: -1em 0 1em;
  }
}
@media screen\0 {
  section.shop {
    min-height: 38.5rem;
    .tab_index .column5_pc > li {
      min-height: 9rem;
    }
  }
}
