@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
main .branding { display: flex; justify-content: center; align-items: center; position: relative; overflow: hidden; background: linear-gradient(to bottom, #95c4d0 0%, #99c6d2 19%, #a3ccd7 38%, #b6d7df 55%, #cfe5eb 71%, #eaf4f8 85%, rgba(234, 244, 248, 0) 85.1%); }

@media screen and (min-width: 768px) { main .branding { height: 68.3rem; } }

@media screen and (max-width: 767px) { main .branding { height: 55vh; } }

@media screen and (min-width: 768px) { main .branding .image > * { height: 68.3rem; } }

@media screen and (max-width: 767px) { main .branding .image > * { height: 55vh; } }

@media screen\0 { main .branding .image > * { position: absolute; width: 204.8rem; top: 0; bottom: 0; left: calc(50% - 102.4rem); right: calc(50% - 102.4rem); } }

main .branding .caption { position: absolute; letter-spacing: 0.018em; color: #fff; }

@media screen and (min-width: 768px) { main .branding .caption { left: calc(50% - 4rem); top: 10rem; font-size: 3.3rem; line-height: 1; } }

@media screen and (max-width: 767px) { main .branding .caption { left: 0; right: 0; top: 5vh; font-size: 2rem; text-align: center; } }

@media screen\0 { main .overview { display: block; } }

@media screen and (max-width: 767px) { main .overview { margin-top: 0; } }

@media screen\0 { main .overview > .fx_row_r { margin: auto; max-width: 97rem; } }

@media screen and (max-width: 970px) { main .overview > .fx_row_r { flex-direction: column; } }

main .overview .svg1_1 { display: flex; align-items: center; }

@media screen and (min-width: 768px) { main .overview .svg1_1 { width: 19.7rem; height: 18.4rem; margin-left: 7rem; } }

@media screen and (min-width: 768px) and (max-width: 87rem) { main .overview .svg1_1 { width: 100%; margin-left: 0; margin-bottom: 3.2rem; }
  main .overview .svg1_1 > img { margin: auto; max-width: 19.7rem; } }

@media screen and (max-width: 767px) { main .overview .svg1_1 { width: 33vw; height: auto; margin: 0 auto 1.6rem; } }

@media screen and (min-width: 768px) { main .overview .catch { min-width: 70rem; } }

@media screen and (max-width: 767px) { main .overview .catch { width: 100%; } }

@media screen and (min-width: 768px) { main .overview .catch h2 { font-size: 3.9rem; line-height: 1.65; margin-top: -1rem; letter-spacing: 0.14em; } }

@media screen and (max-width: 767px) { main .overview .catch h2 { font-size: 3.2rem; } }

@media screen and (min-width: 768px) { main .overview .catch p { font-size: 1.75rem; line-height: 3; letter-spacing: 0.26em; }
  main .overview .catch p + p { padding-right: 1.5em; } }

@media screen and (min-width: 768px) and (max-width: 767px) { main .overview .catch p + p { margin-top: 1em; } }

main .overview .svg1_2 { position: absolute; }

@media screen and (min-width: 768px) { main .overview .svg1_2 { width: 8.7rem; height: 19.3rem; left: 2.2rem; bottom: -6.7rem; } }

@media screen and (max-width: 767px) { main .overview .svg1_2 { width: 8.7rem; height: 19.3rem; right: -2rem; bottom: -6.4rem; } }

@media screen and (min-width: 768px) { main .overview { min-height: 40rem; } }

@media screen and (max-width: 767px) { main .overview .fx_row_r { flex-direction: column; }
  main .overview .txt_vrl { -webkit-writing-mode: horizontal-tb; -ms-writing-mode: horizontal-tb; writing-mode: horizontal-tb; padding: 0; } }

main .sidestreet .catch { display: flex; justify-content: center; flex-direction: column; }

@media screen and (min-width: 768px) { main .sidestreet .catch { padding: 7rem; } }

@media screen and (max-width: 767px) { main .sidestreet .catch { padding: 3.2rem 0; }
  main .sidestreet .catch img { width: 100%; } }

main .sidestreet .catch h2 { text-align: center; }

main .sidestreet .catch h2 .show_image { width: 100%; max-width: 44.6rem; }

@media screen and (max-width: 767px) { main .sp_slider { overflow-x: scroll; }
  main .sp_slider > * { width: calc(250% + (1.6rem * 5)) !important; } }

@media screen and (min-width: 768px) { main .tenant ul { height: 21rem; } }

main .tenant ul > * { background-size: cover; }

main .tenant ul > * > a, main .tenant ul > * > span { background-color: rgba(0, 0, 0, 0.5); color: #fff; text-decoration: none; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; font-family: "Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: 400; transition-duration: 0.3s; }

@media screen and (max-width: 767px) { main .tenant ul > * > a, main .tenant ul > * > span { padding: 1.6rem 0; } }

main .tenant ul > * > a > *, main .tenant ul > * > span > * { display: flex; justify-content: center; align-items: center; width: 100%; }

@media screen\0 { main .tenant ul > * > a > *, main .tenant ul > * > span > * { white-space: nowrap; overflow-x: hidden; } }

@media screen and (min-width: 768px) { main .tenant ul > * > a > * + *, main .tenant ul > * > span > * + * { margin-top: 2em; } }

main .tenant ul > * > a > *.image, main .tenant ul > * > span > *.image { height: 100%; }

main .tenant ul > * > a > *.image > img, main .tenant ul > * > span > *.image > img { max-width: 60%; filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.75)); }

main .tenant ul > * > a > span, main .tenant ul > * > span > span { font-size: 0.75em; }

main .tenant ul > * > a::after, main .tenant ul > * > span::after { display: none; }

main .tenant ul > * > a:hover { background-color: rgba(0, 0, 0, 0.8); }

main .shop .search { font-weight: 500; letter-spacing: 0.2em; }

main .shop .search::after { content: ""; display: inline-block; width: calc(100% - 13em); float: right; height: 0.9em; border-bottom: 0.1rem dashed #b3b3b3; }

main .shop .search + ul { margin-top: 3.2rem; }

@media screen and (max-width: 767px) { main .shop .search + ul { position: relative; left: -1.6rem !important; width: calc(100% + 1.6rem) !important; } }

main .shop .search + ul > li > a { padding: 0.5em; height: 100%; min-height: 3em; line-height: calc(2em - 0.4rem); color: #808080; border: 0.2rem solid #808080; border-radius: 1.5em; overflow: hidden; display: flex; justify-content: center; align-items: center; text-align: center; text-decoration: none; transition-duration: 0.3s; }

main .shop .search + ul > li > a:hover { color: #fff; background-color: #808080; }

main .shop .search + ul > li > a::after { display: none; }

@media screen and (min-width: 768px) { main .shop .search + ul > li { font-size: 0.9em; } }

@media screen and (max-width: 767px) { main .shop .search + ul > li { font-size: 0.75em; letter-spacing: -0.1em; } }

main .shop .tab_index > * + * { margin-top: 0; }

main .shop .tab_index > ul { width: 100%; }

main .shop .tab_index > ul > li { color: #fff; text-align: center; }

main .shop .tab_index > ul > li:nth-child(1) { border-top: 0.8rem solid #808080; color: #333; background-color: #f2f2f2; cursor: default; font-weight: 700; padding: 1rem; }

@media screen and (min-width: 768px) { main .shop .tab_index > ul > li { width: calc(50% - 1rem); letter-spacing: 0.16em; }
  main .shop .tab_index > ul > li + li { margin-left: 2rem; } }

@media screen and (max-width: 767px) { main .shop .tab_index > ul > li { width: 50%; font-size: 0.8em; } }

main .shop .tab_index > ul > li a { display: block; background-color: #808080; padding: 1.4rem; color: #fff; text-decoration: none; transition-duration: 0.3s; }

main .shop .tab_index > ul > li a::after { display: none; }

main .shop .tab_index > ul > li a:hover { background-color: #8ab928; }

@media screen and (min-width: 768px) { main .shop .tab_index > :nth-child(2) > :nth-child(1) { padding: 3.2rem; } }

@media screen and (max-width: 767px) { main .shop .tab_index > :nth-child(2) > :nth-child(1) { padding: 1.6rem; }
  main .shop .tab_index > :nth-child(2) > :nth-child(1) > * { width: 100%; } }

main .shop .tab_index div { background-color: #f2f2f2; }

main .shop .tab_index div [class*="column"] { left: -0.8rem; }

main .news { background-color: #f2f2f2; padding: 3.2rem 0; }

main .news .list > * { position: relative; }

main .news .list a { display: block; color: #333; text-decoration: none; filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2)); }

main .news .list a::after { display: none; }

main .news .list a * { display: block; }

main .news .list a > .img_area { padding-top: 100%; background-size: cover; border-radius: 0.5rem 0.5rem 0 0; transition-duration: 0.3s; position: relative; }

main .news .list a > .img_area + * { padding: 2rem; background-color: #fff; border-radius: 0 0 0.5rem 0.5rem; transition-duration: 0.3s; }

@media screen and (max-width: 767px) { main .news .list a > .img_area + * { margin-top: 0; } }

main .news .list a > .img_area + * strong, main .news .list a > .img_area + * span { font-size: 1.2rem; font-weight: 500; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis; }

main .news .list a > .img_area + * .date { border-top: 0.1rem dotted #333; margin-top: 0.5em; padding-top: 0.5em; text-align: right; }

main .news .list a:hover > .img_area { opacity: 0.5; }

main .news .list a:hover > .img_area + * { background-color: #333; color: #fff; }

main .news .list .new::before { content: "New"; display: block; text-align: center; position: absolute; top: -1.5rem; font-size: 2rem; letter-spacing: -0.02em; width: 6rem; height: 6rem; line-height: 6rem; overflow: hidden; border-radius: 50%; color: #fff; background-color: #109b9d; font-family: "Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-style: italic; z-index: 2; }

@media screen and (min-width: 768px) { main .news .list .new::before { left: -1.5rem; } }

@media screen and (max-width: 767px) { main .news .list .new::before { left: 1.5rem; } }

main .news .list .img_area::after { padding: 0 1em; position: absolute; display: block; min-width: 10rem; text-align: center; left: 0; bottom: 0; color: #fff; }

main .news .list .event .img_area::after { content: "EVENT"; background-color: #c47095; }

main .news .list .food .img_area::after { content: "FOOD"; background-color: #5f9b59; }

main .news .list .shop .img_area::after { content: "SHOP"; background-color: #8f81a8; }

.opening { font-size: 7.5rem; font-weight: 900; text-align: center; color: #8ab928; letter-spacing: -0.05em; }

.opening strong { font-size: 1.5em; }

.opening strong > span { display: inline-block; transform: scale(0.75); }

.opening > span { display: inline-block; line-height: 2em; width: 2em; border-radius: 50%; text-align: center; color: #fff; background-color: #8ab928; transform: scale(0.33); margin: 0 -0.5em; }

@media screen and (min-width: 768px) { .opening { font-size: 7.5rem; } }

@media screen and (max-width: 767px) { .opening { font-size: 4.5rem; line-height: 0.5; margin: -1em 0 1em; } }

@media screen\0 { section.shop { min-height: 38.5rem; }
  section.shop .tab_index .column5_pc > li { min-height: 9rem; } }
