@charset "utf-8";

// ==========以下固定パーツ==========

//基本数値の操作はこちらを変更します。
@import "../common/css/_setup";

// === 取り扱い説明 ==
// =1.PC・タブレットのみ適用させるとき
// @include mq-up() {Stylesheet}

// =スマートフォンのみ適用させるとき
//　@include mq-down() {Stylesheet}

// $font-size : fontの標準サイズ
// $row :各段落の幅の標準サイズ
// $line_height : 行幅

// ==========以下記述箇所==========

main {
  .shop_list {
    &:nth-child(2n) {
      background-color: #f2f2f2;
    }
    padding: #{$row} 0;
    .list {
      >* {
        position: relative;
      }
      a {
        display: block;
        color: $color;
        text-decoration: none;
        filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2));
        &::after {
          display: none;
        }
        * {
          display: block;
        }
        >.img_area {
          padding-top: 66.7%;
          background-size: cover;
          border-radius: 0.5rem 0.5rem 0 0;
          transition-duration: 0.3s;
          position: relative;
          + * {
            padding: 2rem;
            background-color: #fff;
            border-radius: 0 0 0.5rem 0.5rem;
            @include mq-down() {
              margin-top: 0;
            }
            strong,span {
              font-size: 1.2rem;
              font-weight: 500;
            }
            strong {
              font-family: $mincho;
              font-weight: 700;
              font-size: 1.8rem;
              text-align: center;
              border-bottom: 0.1rem dotted $color;
              margin-bottom: 0.5em;
              padding-bottom: 0.5em;
            }
/*            .date {
              border-top: 0.1rem dotted $color;
              margin-top: 0.5em;
              padding-top: 0.5em;
              text-align: right;
            }*/
            transition-duration: 0.3s;
          }
        }
        &:hover {
          >.img_area {
            opacity: 0.5;
            + * {
                background-color: $color;
                color: #fff;
            }
          }
        }
      }
      .new::before {
        content: "New";
        display: block;
        text-align: center;
        position: absolute;
        top: -1.5rem;
        font-size: 2rem;
        letter-spacing: -0.02em;
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        overflow: hidden;
        border-radius: 50%;
        color: #fff;
        background-color: #109b9d;
        font-family: $mincho;
        font-style: italic;
        z-index: 2;
        @include mq-up() {
          right: -1.5rem;
        }
        @include mq-down() {
          right: 1.5rem;
        }
      }
      .img_area::after {
        padding: 0.25em 1em;
        position: absolute;
        display: block;
        min-width: 10rem;
        text-align: center;
        left: -0.5rem;
        top: -0.5rem;
        color: #fff;
        border-radius: 0 0.5rem;
        box-shadow: 0.5rem 0.5rem 0.4rem rgba(0,0,0,0.5);
      }
      .yokocho .img_area::after {
        content: "函館駅前横丁";
        background-color: $link_color;
      }
      .cafe .img_area::after {
        content: "カフェエリア";
        background-color: $cafe_color;
      }
      .hotel .img_area::after {
        content: "ホテルエリア";
        background-color: $hotel_color;
      }
      .gym .img_area::after {
        content: "スポーツジムエリア";
        background-color: $gym_color;
      }
    }
  }
  // 店舗詳細

  .shop_detail {
    @include mq-up() {
      padding-top: #{$row * 2};
      .imagearea {
        width: calc(66.67% - #{$row});
        max-width: 84rem;
        + * {
          width: 33.33%;
          margin-left: #{$row};
        }
      }
      #branding {
        height: 80rem;
        @include mq-down() {
          margin-top: 0;
        }
      }
    }
    @include mq-down() {
      padding-top: $row;
      .grow2 {
        width: 100%;
      }
      #branding {
        height: 50vh;
      }
    }
  }
  .swiper-container {
    width: 100%;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2));

    margin-left: auto;
    margin-right: auto;
    @include mq-up() {
      border-radius: $font_size;
    }
    @include mq-down() {
      border-radius: #{$font_size / 2};
    }
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
    @include mq-down() {
      margin-top: 0;
    }
  }
  .gallery-top {
    height: 70%;
  }
  .gallery-thumbs {
    box-sizing: border-box;
    @include mq-up() {
      height: 30%;
      padding: $font_size 0;
    }
    @include mq-down() {
      height: calc(30% - #{$font_size});
      margin: #{$font_size / 2} 0;
    }
    .swiper-slide {
      width: calc(33.33% - #{$font-size});
      height: 100%;
      opacity: 0.4;
      @include mq-up() {
        border-radius: #{$font_size / 2};
      }
    }
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  .shop_detail {
    .yokocho {
      background-color: $link_color;
    }
    .event, .gym {
      background-color: $gym_color;
    }
    .food, .cafe {
      background-color: $cafe_color;
    }
    .shop, .hotel {
      background-color: $hotel_color;
    }
    .new {
      background-color: $new_color;
    }
    h1.title {
      display: flex;
      align-items: center;
      flex-grow: 2;
      text-align: left;
      margin-bottom: $row;
      width: 100%;
      @include mq-up() {
        font-size: 3.6rem;
      }
      @include mq-down() {
        font-size: 2rem;
        line-height: 1.5;
      }
      >i {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        color: $bg;
        @include mq-up() {
          height: 7rem;
          width: 7rem;
        }
        @include mq-down() {
          height: 5rem;
          width: 5rem;
        }
      }
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: #{$font-size / 2};
      height: 7rem;
      border-radius: 0.5rem;
      color: $bg;
      background-color: $link_color;
      margin-left: #{$font_size / 2};
      @include mq-up() {
        white-space: nowrap;
      }
    }
  }
  h2 {
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: #{$row};
  }
  h3 {
    text-align: center;
  }
  .shop_data {
    padding: #{$row / 2};
    margin: #{$row / 2} 0;
    background-color: #f8f8f8;
    > * {
      padding: #{$font_size / 2};
    }
    width: 100%;
    @include mq-up() {
      dt {
        flex-basis: 30%;
        max-width: 30%;
      }
      dd {
        flex-basis: 70%;
        max-width: 70%;
      }
    }
    @include mq-down() {
      dt {
        flex-basis: 40%;
        max-width: 40%;
      }
      dd {
        flex-basis: 60%;
        max-width: 60%;
      }
    }
    dt,dd {
      &:not(:last-of-type) {
        border-bottom: 0.2rem dotted #e8e8e8;
      }
    }
  }
}
