@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
main .shop_list { padding: 3.2rem 0; }

main .shop_list:nth-child(2n) { background-color: #f2f2f2; }

main .shop_list .list > * { position: relative; }

main .shop_list .list a { display: block; color: #333; text-decoration: none; filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2)); }

main .shop_list .list a::after { display: none; }

main .shop_list .list a * { display: block; }

main .shop_list .list a > .img_area { padding-top: 66.7%; background-size: cover; border-radius: 0.5rem 0.5rem 0 0; transition-duration: 0.3s; position: relative; }

main .shop_list .list a > .img_area + * { padding: 2rem; background-color: #fff; border-radius: 0 0 0.5rem 0.5rem; /*            .date { border-top: 0.1rem dotted $color; margin-top: 0.5em; padding-top: 0.5em; text-align: right; }*/ transition-duration: 0.3s; }

@media screen and (max-width: 767px) { main .shop_list .list a > .img_area + * { margin-top: 0; } }

main .shop_list .list a > .img_area + * strong, main .shop_list .list a > .img_area + * span { font-size: 1.2rem; font-weight: 500; }

main .shop_list .list a > .img_area + * strong { font-family: "Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-weight: 700; font-size: 1.8rem; text-align: center; border-bottom: 0.1rem dotted #333; margin-bottom: 0.5em; padding-bottom: 0.5em; }

main .shop_list .list a:hover > .img_area { opacity: 0.5; }

main .shop_list .list a:hover > .img_area + * { background-color: #333; color: #fff; }

main .shop_list .list .new::before { content: "New"; display: block; text-align: center; position: absolute; top: -1.5rem; font-size: 2rem; letter-spacing: -0.02em; width: 6rem; height: 6rem; line-height: 6rem; overflow: hidden; border-radius: 50%; color: #fff; background-color: #109b9d; font-family: "Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; font-style: italic; z-index: 2; }

@media screen and (min-width: 768px) { main .shop_list .list .new::before { right: -1.5rem; } }

@media screen and (max-width: 767px) { main .shop_list .list .new::before { right: 1.5rem; } }

main .shop_list .list .img_area::after { padding: 0.25em 1em; position: absolute; display: block; min-width: 10rem; text-align: center; left: -0.5rem; top: -0.5rem; color: #fff; border-radius: 0 0.5rem; box-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.5); }

main .shop_list .list .yokocho .img_area::after { content: "函館駅前横丁"; background-color: #8ab928; }

main .shop_list .list .cafe .img_area::after { content: "カフェエリア"; background-color: #5f9b59; }

main .shop_list .list .hotel .img_area::after { content: "ホテルエリア"; background-color: #8f81a8; }

main .shop_list .list .gym .img_area::after { content: "スポーツジムエリア"; background-color: #c47095; }

@media screen and (min-width: 768px) { main .shop_detail { padding-top: 6.4rem; }
  main .shop_detail .imagearea { width: calc(66.67% - 3.2rem); max-width: 84rem; }
  main .shop_detail .imagearea + * { width: 33.33%; margin-left: 3.2rem; }
  main .shop_detail #branding { height: 80rem; } }

@media screen and (min-width: 768px) and (max-width: 767px) { main .shop_detail #branding { margin-top: 0; } }

@media screen and (max-width: 767px) { main .shop_detail { padding-top: 3.2rem; }
  main .shop_detail .grow2 { width: 100%; }
  main .shop_detail #branding { height: 50vh; } }

main .swiper-container { width: 100%; filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2)); margin-left: auto; margin-right: auto; }

@media screen and (min-width: 768px) { main .swiper-container { border-radius: 1.6rem; } }

@media screen and (max-width: 767px) { main .swiper-container { border-radius: 0.8rem; } }

main .swiper-slide { background-size: cover; background-position: center; }

@media screen and (max-width: 767px) { main .swiper-slide { margin-top: 0; } }

main .gallery-top { height: 70%; }

main .gallery-thumbs { box-sizing: border-box; }

@media screen and (min-width: 768px) { main .gallery-thumbs { height: 30%; padding: 1.6rem 0; } }

@media screen and (max-width: 767px) { main .gallery-thumbs { height: calc(30% - 1.6rem); margin: 0.8rem 0; } }

main .gallery-thumbs .swiper-slide { width: calc(33.33% - 1.6rem); height: 100%; opacity: 0.4; }

@media screen and (min-width: 768px) { main .gallery-thumbs .swiper-slide { border-radius: 0.8rem; } }

main .gallery-thumbs .swiper-slide-thumb-active { opacity: 1; }

main .shop_detail .yokocho { background-color: #8ab928; }

main .shop_detail .event, main .shop_detail .gym { background-color: #c47095; }

main .shop_detail .food, main .shop_detail .cafe { background-color: #5f9b59; }

main .shop_detail .shop, main .shop_detail .hotel { background-color: #8f81a8; }

main .shop_detail .new { background-color: #109b9d; }

main .shop_detail h1.title { display: flex; align-items: center; flex-grow: 2; text-align: left; margin-bottom: 3.2rem; width: 100%; }

@media screen and (min-width: 768px) { main .shop_detail h1.title { font-size: 3.6rem; } }

@media screen and (max-width: 767px) { main .shop_detail h1.title { font-size: 2rem; line-height: 1.5; } }

main .shop_detail h1.title > i { display: flex; align-items: center; justify-content: center; border-radius: 0.5rem; color: #fff; }

@media screen and (min-width: 768px) { main .shop_detail h1.title > i { height: 7rem; width: 7rem; } }

@media screen and (max-width: 767px) { main .shop_detail h1.title > i { height: 5rem; width: 5rem; } }

main .shop_detail li { display: flex; align-items: center; justify-content: center; padding: 0.8rem; height: 7rem; border-radius: 0.5rem; color: #fff; background-color: #8ab928; margin-left: 0.8rem; }

@media screen and (min-width: 768px) { main .shop_detail li { white-space: nowrap; } }

main h2 { border-bottom: 0.1rem solid #ccc; margin-bottom: 3.2rem; }

main h3 { text-align: center; }

main .shop_data { padding: 1.6rem; margin: 1.6rem 0; background-color: #f8f8f8; width: 100%; }

main .shop_data > * { padding: 0.8rem; }

@media screen and (min-width: 768px) { main .shop_data dt { flex-basis: 30%; max-width: 30%; }
  main .shop_data dd { flex-basis: 70%; max-width: 70%; } }

@media screen and (max-width: 767px) { main .shop_data dt { flex-basis: 40%; max-width: 40%; }
  main .shop_data dd { flex-basis: 60%; max-width: 60%; } }

main .shop_data dt:not(:last-of-type), main .shop_data dd:not(:last-of-type) { border-bottom: 0.2rem dotted #e8e8e8; }
