@charset "utf-8";

// ==========以下固定パーツ==========

//基本数値の操作はこちらを変更します。
@import "../common/css/_setup";

// === 取り扱い説明 ==
// =1.PC・タブレットのみ適用させるとき
// @include mq-up() {Stylesheet}

// =スマートフォンのみ適用させるとき
//　@include mq-down() {Stylesheet}

// $font-size : fontの標準サイズ
// $row :各段落の幅の標準サイズ
// $line_height : 行幅

// ==========以下記述箇所==========

  .column_color [class*="column"]>*,
  table tr>* {
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
  }
  article:nth-last-of-type(2n) {
    background-color: #e8e8e8;
  }
 @include mq-up() {
  .copy {
    font-size: 1rem;
    display: inline-block;
    line-height: 2;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 0.25em;
    text-decoration: none;
    color: #808080;
    &::after {
      display: none;
    }
  }
  .copy:hover {
      background-color: #808080;
      color: #fff;
  }
 }
@include mq-down() {
  .copy {display: none;}
  h2,h3,h4,h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}
section {
  overflow: hidden;
}
