@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("//fonts.googleapis.com/css?family=Sawarabi+Mincho");
.base { background-color: #808080; }

.bg { background-color: #f8f8f8; }

a { color: #8b0000; }

.column_color [class*="column"] > *, table tr > * { border: 1px solid #ccc; background-color: rgba(0, 0, 0, 0.2); overflow: hidden; }

article:nth-last-of-type(2n) { background-color: #e8e8e8; }

@media screen and (min-width: 768px) { .copy { font-size: 1rem; display: inline-block; line-height: 2; padding: 0 1em; text-align: center; border: 1px solid #aaa; border-radius: 0.25em; text-decoration: none; color: #808080; }
  .copy::after { display: none; }
  .copy:hover { background-color: #808080; color: #fff; } }

@media screen and (max-width: 767px) { .copy { display: none; }
  h2, h3, h4, h5 { white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden; } }

section { overflow: hidden; }
