// カスタムカラーの設定
$black: #333;
$white: #fff;
$red: #c30d23; //cmyk 15 100 90 10
$orange: #ea5514;//cmyk 0 80 95 0
$gyellow: #f8b62d; //cmyk 0 35 85 0
$yellow: #faee00; //cmyk 0 5 90 0
$green: #00913a; //cmyk 85 10 100 100
$dgreen: #006934; //cmyk 90 30 95 30
$cyan: #036eb8; //cmyk 85	50 0 0
$blue: #172a88; //cmyk 100 95 5 0
$parple: #920783; //cmyk 100 50 0 0
$gray: #9fa0a0; //cmyk 0 0 0 50
$gray10: #efefef; //k10
$gray20: #dcdddd; //k20
$gray30: #c9caca; //k30
$gray40: #b5b5b6; //k40
$gray50: #9fa0a0; //k50
$gray60: #898989; //k60
$gray70: #727171; //k70
$gray80: #595757; //k80
$gray90: #3e3a39; //k90
$gray100: #231815; //k100

.black { color: $black;}
.white { color: $white;}
.red { color: $red;}
.orange { color: $orange;}
.gyellow { color: $gyellow;}
.yellow { color: $yellow;}
.green { color: $green;}
.dgreen { color: $dgreen;}
.cyan { color: $cyan;}
.blue { color: $blue;}
.parple { color: $parple;}
.gray { color: $gray;}
.gray10 { color: $gray10;}
.gray20 { color: $gray20;}
.gray30 { color: $gray30;}
.gray40 { color: $gray40;}
.gray50 { color: $gray50;}
.gray60 { color: $gray60;}
.gray70 { color: $gray70;}
.gray80 { color: $gray80;}
.gray90 { color: $gray90;}
.gray100 { color: $gray100;}
