// ==========headerの初期設定 ==========
$header_ht_pc: 18rem;

$header_ht_sp: 6rem;

// ==========基本パーツ書き出し==========
header {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom,#fff 33%, rgba(255,255,255,0.75) 100%);

  a {
    color: $color;
    text-decoration: none;
    @include mq-down {
      display: block;
      padding: #{$font_size / 2}
    }
  }
  img {
    display: block;
  }
  .iconlink {
    @include mq-up() {
      position: absolute;
      right: 2rem;
      top: 5rem;
    }
    @include mq-down() {
      flex-direction: row!important;
    }
    >a {
      display: inline-block;
      background-color: $base;
      text-decoration: none;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      width: 3.2rem;
      height: 3.2rem;
      margin-left: 1.2rem;
      line-height: 3.2rem;
      transition-duration: 0.3s;
      @include mq-down() {
        padding: 0;
      }
      &:hover {
        background-color: $link_color;
        transform: scale(1.25);
      }
    }
  }
  @include mq-up() {
    .logo {
      padding: 2.6rem 0 2.2rem;
      text-align: center;
      img {
        width: 33.448rem;
        height: auto;
        margin: auto;
      }
    }
    .language {
      position: absolute;
      right: 2rem;
      top: 13rem;
      width: 14rem;
      overflow-y: hidden;
      >* {
        height: 3.5rem;
        background-color: #808080;
        position: relative;
      }
      > dt, > dd > a{
        padding-left: 2.5rem;
        color: #fff;
        line-height: 3.5rem;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $link_color;
        }
        &::after {
          content: "";
          width: 1rem;
          height: 1rem;
          display: block;
          position: absolute;
          right: 1rem;
          top: calc(50% - 0.5rem);
          border: solid #fff;
          border-width: 0.2rem 0.2rem 0 0;
          transform: rotate(45deg);
        }
      }
      > dt {
        background-color: #404040;
      }
      > dd {
//        display: none;
        height: 0;
        transition-duration: 0.15s;
        overflow: hidden;
        + dd >a {
          border-top: 0.1rem solid #fff;
        }
        &.current > a {
          background-color: $link_color;
        }
      }
      &:hover {
        overflow-y: visible;
        > dt {
          &::after {
            transform: rotate(135deg);
          }
        }
        >dd {
          height: 3.5rem;
//          display: block;
        }
      }
    }
//    height: $header_ht_pc;
    section {
      width: 100%;
      max-width: $win-xl;
      margin: auto;
      overflow: visible;
      position: relative;
    }
  }
  @include mq-down() {
    .logo {
      padding: 1rem;
      text-align: center;
      img {
        width: 50%;
        height: auto;
        margin: auto;
      }
    }
  }
  .breadcrumb {
    >li {
      &:not(:last-child)::after {
        content: " > ";
      }
    }
  }
}
main {
  @include mq-up() {
    margin-top: $header_ht_pc;
  }
  @include mq-down() {
    margin-top: $header_ht_sp;
  }
  .access {
    .title {
      align-items: flex-end;
      >:nth-child(2) {
        @include mq-up() {
          position: relative;
          > img {
            position: absolute;
            right: 0;
            bottom: -3rem;
          }
        }
        @include mq-down() {
          display: none;
        }
      }
    }
    .accordion_js2 > a {
      @include mq-up() {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0.25em 0.5em;
        color: #fff;
        text-decoration: none;
        background: rgba(0,0,0,0.25);
        z-index: 2;
        &::before {
          content: "OPEN";
        }
        &::after {
          display: none;
        }
        &.open::before {
          content: "Close";
        }
      }
      @include mq-down() {
        display: none;
      }
    }
    .map {
      position: relative;
      width: 100%;
      @include mq-up() {
        display: flex;
        height: 45rem;
      }
      .adress {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(30,160,126,0.6);
        @include mq-up() {
          left: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          width: calc(50% - 28rem);
          min-width: 42.5rem;
        }
        @include mq-down() {
          display: flex!important;
          + * {
            margin-top: 0;
          }
        }
        .img_area {
          background-image: url(../img/common_image2.jpg);
          background-size: cover;
          width: 100%;
          height: 21.2rem;
        }
        > * {
          width: 26.3rem;
          + * {
            margin-top: 0;
          }
        }
        .button {
          padding-bottom: $font-size;
          a {
            border-color: #fff;
            color: #fff;
            &::after {
              border-color: #fff;
            }
            &:hover {
              background-color: #fff;
              color: $color;
              &::after {
                border-color: $color;
              }
            }
          }
        }
      }
      iframe {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 45rem;
      }
    }
  }

  .link_list {
    h3 {
      line-height: 2.2rem;
      position: relative;
      padding-left: 1.5rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 0.1rem dotted $color;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0.6rem;
        height: 2.2rem;
        background-color: $color;
        border-radius: 0.3rem;
      }
    }
    a {
      color: $color;
      text-decoration: none;
      &::after {
        border-color: $color;
      }
    }
  }
}
footer {
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
  article {
    padding: $font_size 0;
    line-height: 1;
    > * {
      width: 100%;
      max-width: $win-xl;
      margin: auto;
      @include mq-down() {
        padding: 0 $font_size;
        text-align: center;
        font-size: 0.75rem;
      }
    }
  }
  .adress {
    background-color: #8ab928;
  }
  .copyright {
    background-color: #109b9d;
    text-align: right;
    @include mq-down() {
      text-align: center;
    }
  }
}
@include mq-up() {
  header {
    .global_navigation {
      width: 100%;
      height: 6rem;
      .flex_pc{
        max-width: $win-md;
        width: calc(100% - 17rem);
        height: 100%;;
        margin: auto;
        //float: left; 全公開時に使用（または上を消す？）
        > li {
          flex-grow: 2;
          position: relative;
          >ul {
            flex-direction: column;
            display: none;
            > li {
              opacity: 0;
              height: 0;
              color: $bg;
              transition-duration: 0.3s;
            }
          }
          &:hover {
            > ul {
              position: absolute;
              left: 0;
              right: 0;
              display: block;
              > li {
                  opacity: 1;
                  height: auto;
              }
            }
          }
          a {
            color: #999;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 1rem;
            line-height: 1;
//            text-shadow: 0 0 0.1rem #fff, 0.2rem 0.2rem 0.1rem #fff, -0.2rem 0.2rem 0.1rem #fff, 0.2rem -0.2rem 0.1rem #fff, -0.2rem -0.2rem 0.1rem #fff;
            transition-duration: 0.3s;
            >strong {
              color: $color;
              display: block;
              font-size: 2em;
              font-family: $mincho;
              font-style: italic;
              font-weight: 700;
              transition-duration: 0.3s;
            }
            &:hover {
//              text-shadow: 0 0 0 $link_color,
              background-color: $link_color;
              color: #fff;
              > strong {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
@include mq-down() {
  header {
    .global_navigation {
      display: none;
      overflow-y: scroll;
      justify-content: space-between;
      ul {
        flex-grow: 2;
        flex-shrink: 2;
      }
      >* {
        padding: $font_size;
      }
      li + li , dd + dd {
        border-top: 0.1rem dotted $base;
      }
      dt {
        background-color: $base;
        color: #fff;
        padding: #{$font_size / 2};
      }
      .flex_pc {
        width: 100%;
      }
      a > strong {
        display: none;
      }
      > * {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: rgba(255,255,255,0.9);//変更可能
      }
    }
    .btnHamburger {
      position: fixed;
      top: 1rem;
      right: 1rem;
      width: 3.6rem;
      height: 3.6rem;
      padding: 0.5rem;
      cursor: pointer;
      border: 0.1rem solid #ccc;
      background: linear-gradient(to bottom,#fff,#f0f0e6);
      border-radius: 0.2rem;
      .line {
        position: absolute;
        left: 0.8rem;
        display: block;
        width: 2rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background: $color;
        transition: all 0.3s ease-out;
      }
      .line_01 { top: 1rem; }
      .line_02 { top: calc(50% - 0.1rem);}
      .line_03 { bottom: 1rem;}
      &.open {
        .line_01 {
          top: 1em;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .line_02 {
          opacity: 0;
        }
        .line_03 {
          top: 1em;
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &+.global_navigation {
          background-color: rgba(0,0,0,0.5);
          top: 0;//5.6rem;
          left: 0;
          right: 0;
          padding-left: 25vw;
          height: calc(100vh - #{$header_ht_sp});
          flex-direction: column;
        }
      }
    }
  }
}
.contactarea {
  text-align: center;
}
