//リンクリスト（基本）
.link:not(ul):not(ol):not(dl),
ul.link>li,
ol.link>li,
dl.link>dt {
}
main {
  a.link,
  .link a {
    padding-left: 2em;
    position: relative;
    display: inline-block;
    margin: 0.5rem 0;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: 0.5em;
      margin: 0;
    }
    &:not(dd)[target="_blank"] {
      &::before {
        right: inherit;
        left: 0.6em;
        bottom: inherit;
        top: 0.2em;
      }
    }
    &[href*=".pdf"],
    &[href*=".doc"],
    &[href*=".xls"],
    &[href*=".ppt"],
    &[href*=".txt"] {
      &::after {
        top: 0;
        margin-left: 0;
      }
    }
  }
  .no_list {//JSとセット
    padding-left: 0!important;
    &::before {
      content: none!important;
    }
  }
}


main {
  a {
    margin-right: 0.3em;
    &::after {
      content: "";
      display: inline-block;
      position: relative;
      margin-left: 0.5em;
      width: 0.7em;
      height: 0.7em;
      border: solid $link_color;
      border-width: 0.15em 0.15em 0 0;
      transform: rotate(45deg);
    }
    &.modal::after  {
      width: 1em;
      height: 1em;
      border-width: 0.3em 0.15em 0.15em;
      transform: rotate(0deg);
      bottom: -0.1em;
    }
    &[target="_blank"] {
      position: relative;
      margin-right: 0.6em;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0.5em;
        height: 0.5em;
        border: solid $link_color;
        border-width: 0.15em 0.15em 0 0;
        right: -0.3em;
        bottom: 0.9em;
        top: inherit;
      }
      &::after  {
        width: 0.8em;
        height: 0.8em;
        border-width: 0.15em;
        transform: rotate(0deg);
      }
    }
    //リンクアイコン各種
    &[href*=".pdf"]::after {
      content: "PDF";
      background:
        linear-gradient(45deg,  transparent 0, $pdf_color 0),
        linear-gradient(135deg, transparent 0, $pdf_color 0),
        linear-gradient(225deg, transparent 25%, $pdf_color 25%),
        linear-gradient(315deg, transparent 0, $pdf_color 0);
    }
    &[href*=".doc"]::after {
      content: "DOC";
      background:
        linear-gradient(45deg,  transparent 0, $doc_color 0),
        linear-gradient(135deg, transparent 0, $doc_color 0),
        linear-gradient(225deg, transparent 25%, $doc_color 25%),
        linear-gradient(315deg, transparent 0, $doc_color 0);
    }
    &[href*=".xls"]::after {
      content: "XLS";
      background:
        linear-gradient(45deg,  transparent 0, $xls_color 0),
        linear-gradient(135deg, transparent 0, $xls_color 0),
        linear-gradient(225deg, transparent 25%, $xls_color 25%),
        linear-gradient(315deg, transparent 0, $xls_color 0);
    }
    &[href*=".ppt"]::after {
      content: "PPT";
      background:
        linear-gradient(45deg,  transparent 0, $ppt_color 0),
        linear-gradient(135deg, transparent 0, $ppt_color 0),
        linear-gradient(225deg, transparent 25%, $ppt_color 25%),
        linear-gradient(315deg, transparent 0, $ppt_color 0);
    }
    &[href*=".txt"]::after {
      content: "TXT";
      background:
        linear-gradient(45deg,  transparent 0, $base 0),
        linear-gradient(135deg, transparent 0, $base 0),
        linear-gradient(225deg, transparent 25%, $base 25%),
        linear-gradient(315deg, transparent 0, $base 0);
    }
    &[href*=".pdf"],
    &[href*=".doc"],
    &[href*=".xls"],
    &[href*=".ppt"],
    &[href*=".txt"] {
      &::before {
        content: none;
      }
      &::after {
        display: inline-block;//inline-flex;
        //align-items: center;
        //justify-content: center;
        bottom: -0.7em;
        margin-left: 1em;
        font-size: 0.5em;
        color: #fff;
        width: 2.5em;
        height: 3em;
        line-height: 3em;
        overflow: hidden;
        text-align: center;
        //padding-top: 0.5em;
        background-position:
          bottom left,
          bottom right,
          top right,
          top left;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        transform: rotate(0deg) scale(0.9);//打ち消し
        text-decoration: none;//打ち消し
        border-width: 0;//打ち消し
      }
    }
  }
  a.no_icon,
  .no_icon a {
    &::before,
    &::after {
      content: none!important;
    }
  }
}
.image {
  >a {
    position: relative;
    display: block;
    &::after {
      position: absolute;
      top: 0.2em;
      right: 0.2em;
      border-color: #fff;
      filter: drop-shadow(0 0 0.1em rgba(0,0,0,0.8));
    }
    &[target="_blank"]::before {
      top: 0.2em;
      right: 0.2em;
      border-color: #fff;
    }
    &[target="_blank"]::after {
      top: 0.5em;
      right: 0.5em;
    }
  }
}
