// ==========Fonts==========
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");

// ==========基本パーツ書き出し==========
// ver.0.2.1 2019-08-28 suzuki makoto
html {
  @include mq-up() {
    font-size: $base_size_pc;
  }
  @include mq-down() {
    font-size: $base_size_sp;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: $gothic;
  font-size: $font_size;
  background-color: $bg;
  color: $color;
  font-feature-settings: "palt";
  letter-spacing: 0.1rem;
  overflow-x: hidden;
}
* {
    line-height: $line_height;
}
.base {
  background-color: $base;
}
.bg {
  background-color: $bg;
}
a {
  color: $link_color;
}
header,main,footer,article,aside {
  display: block;
}
article[class*="flex"] {
  padding: 0;
}
main {
  section,.section {
    width: 100%;
    max-width: $win-xl;
    margin: $row*2 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.no_mw {
      max-width: initial;
      @media screen\0 {
        max-width: 100%;
      }
    }
    &[class*="flex"] {
      max-width: inherit;
      margin: 0;
      padding: 0;
    }
    >* {
      margin: $row auto 0;//margin: $row auto;
    }
    >:first-child {
      margin-top: 0;//margin: $row auto;
    }
    &[class*="flex"]>* {
      margin: 0;
    }
  }
}
.bg {
  color: $bg;
}
.light {font-weight: 300;}
.normal {font-weight: 400;}
.middle {font-weight: 500;}
.bold {font-weight: 700;}
.strong {font-weight: 900;}
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}
.taj {text-align: justify;}
.tajj {text-align: justify; text-align-last: justify;}
.vat, .vat th, .vat td {vertical-align: top;}
.vam .vam th, .vam td {vertical-align: middle;}
.vab .vab th, .vab td {vertical-align: bottom;}
.fl {float: left;}
.fr {float: right;}
.hide {display:none;}
.show {display: block;}
.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}
.absolute {position: absolute;}
.relative {position: relative;}
.static {position: static;}
.ellipsis {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.break { word-break:break-all; word-wrap:break-word;}
.nowrap { white-space: nowrap;}
.mg_auto {margin: auto;}
.wd_auto {width: auto;}
.hg_auto {height: auto;}
.mw_auto {max-width: inherit;}
.mh_auto {max-height: inherit;}
@include mq-up() {
  [href^="tel:"] {
    cursor: default;
    text-decoration: none;
    color: $color;
    pointer-events: none;
  }
}
.txt_vrl {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.txt_vlr {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}
.txt_vrl,
.txt_vlr {
  &.rotate, .rotate {
    text-orientation: upright;
  }
  i {
    font-style: normal;
    text-combine-upright: all;
    -webkit-text-combine: horizontal;//Safari
    -ms-text-combine-horizontal: all;//IE
  }
}

.txt_srl {
  writing-mode: sideways-rl;
}
.txt_slr {
  writing-mode: sideways-lr;
}

.clearfix{
  *zoom:1;
  &:after {
    content:'\0020';
    display:block;
    height:0;
    clear:both;
  }
}
.disc:not(ul):not(ol):not(dl),
ul.disc>li,
ol.disc>li,
dl.disc>dt {
  position: relative;
  padding-left: 1.25em;
  &::before {
    content: "・";
    position: absolute;
    left: 0;
    top: 0;
  }
}
.square:not(ul):not(ol):not(dl),
ul.square>li,
ol.square>li,
dl.square>dt {
  position: relative;
  padding-left: 1.25em;
  &::before {
    content: "■";
    position: absolute;
    left: 0;
    top: 0;
  }
}
.asterisk:not(ul):not(ol):not(dl),
ul.asterisk>li,
ol.asterisk>li,
dl.asterisk>dt {
  position: relative;
  padding-left: 1.25em;
  &::before {
    content: "※";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.faq:not(ul):not(ol):not(dl),
ul.faq > *,
ol.faq > *,
dl.faq > * {
  position: relative;
  padding-left: 2em;
  &::before {
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 0.2em;
    font-size: 0.75em;
    background-color: $border_color;
  }
}
.faq:not(ul):not(ol):not(dl).q,
ul.faq > .q,
ol.faq > .q,
dl.faq > dt {
  &::before {
    content: "Q";
    background-color: $color;
    color: #fff;
  }
}
.faq:not(ul):not(ol):not(dl).a,
ul.faq > .a,
ol.faq > .a,
dl.faq > dd {
  &::before {
    content: "A";
  }
}
.faq:not(ul):not(ol):not(dl),
ul.faq > *,
ol.faq > *,
dl.faq > * {
  &.ex {
    &::before {
      content: "ex";
    }
  }
}

[class*="checklist"]:not(ul):not(ol):not(dl),
ul[class*="checklist"]>li,
ol[class*="checklist"]>li,
dl[class*="checklist"]>dt {
  position: relative;
  padding-left: 1.75em;
  &::before {
    content: "";
    display: flex;
    align-items: center;
    font-size: 2em;
    color: $red;
    width: 0.5em;
    height: 0.5em;
    border: 0.067em solid $border_color;
    border-radius: 0.1em;
    position: absolute;
    left: 0;
    top: 0.25em;
  }
}
.mark.checklist,
.checklist>.mark,
.checklist_all:not(ul):not(ol):not(dl),
ul.checklist_all>li,
ol.checklist_all>li,
dl.checklist_all>dt {
  &::before {
    content: "\2713";
  }
  &.no_check::before {
    content: "";
  }
}

//数字リスト（基本）
[class*="figure"] {
  counter-reset: cnt;
  .fg_cnt:not(ul):not(ol):not(dl),
  >li,
  >dt {
    counter-increment: cnt;
    counter-reset: cnt2;
    position: relative;
    padding-left: 1.5em;
    &::before {
      content: counter(cnt) ". ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }
  }
  .fg_cnt2,
  >*>ul>li,
  >*>ol>li,
  >*>dl>dt {
    counter-increment: cnt2;
    counter-reset: cnt3;
    position: relative;
    padding-left: 2.5em;
    //counter-reset: cnt3;
    &::before {
      content: counter(cnt)"-"counter(cnt2)". ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }
  }
/*  >*>ul>li,
  >*>ol>li {
    margin-left: -0.5em;
  }
  .fg_cnt2,
  >*>dl>*  {
    margin-left: 1em;
  }*/
  .fg_cnt3,
  >*>*>*>ul>li,
  >*>*>*>ol>li,
  >*>*>*>dl>dt {
    counter-increment: cnt3;
    //counter-reset: cnt4;
    position: relative;
    padding-left: 3.5em;
    //counter-reset: cnt3;
    &::before {
      content: counter(cnt)"-"counter(cnt2)"-"counter(cnt3)". ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }
  }
/*  >*>*>*>ul>li,
  >*>*>*>ol>li {
    margin-left: -1.5em;
  }
  .fg_cnt3,
  >*>*>*>dl>* {
    margin-left: 1em;
  }*/
}
//数字リスト（括弧つき）
.figure_brackets {
  .fg_cnt:not(ul):not(ol):not(dl),
  >li,
  >dt {
    padding-left: 2em;
    &::before {
      content: "("counter(cnt) ") ";
    }
  }
  .fg_cnt2,
  >*>ul>li,
  >*>ol>li,
  >*>dl>dt {
    padding-left: 3em;
    &::before {
      content: "("counter(cnt)"-"counter(cnt2)") ";
    }
  }
/*  >*>ul>li,
  >*>ol>li {
    margin-left: -1em;
  }*/
  .fg_cnt3,
  >*>*>*>ul>li,
  >*>*>*>ol>li,
  >*>*>*>dl>dt {
    padding-left: 4em;
    &::before {
      content: "("counter(cnt)"-"counter(cnt2)"-"counter(cnt3)") ";
    }
  }
/*  >*>*>*>ul>li,
  >*>*>*>ol>li {
    margin-left: -2em;
  }*/
}
//数字リスト（箱（文字色）入り）
[class*="figure_box"],
[class*="figure_circle"] {
  .fg_cnt:not(ul):not(ol):not(dl),
  >li,
  >dt {
    padding-left: 2em;
    &::before {
      content: counter(cnt);
      font-size: 1em;
      line-height: 1;
      min-width: 2em;
      text-align: center;
      padding: #{$line_height / 4}em;
      background-color: $color;
      color: #fff;
      //top: #{($line_height - 1)}em;//top: #{($line_height - 1)/ 2}em;
      left: -0.5em;
      transform: scale(0.5);
    }
  }
  .fg_cnt2,
  >*>ul>li,
  >*>ol>li,
  >*>dl>dt {
    padding-left: 2.5em;
    &::before {
      content: counter(cnt)"-"counter(cnt2);
      font-size: 1em;
      line-height: 1;
      min-width: 2em;
      text-align: center;
      padding: #{$line_height / 3}em;
      background-color: $color;
      color: #fff;
      //top: #{($line_height - 1) * 2 / 3}em;
      left: -0.75em;
      transform: scale(0.5);
    }
  }
  .fg_cnt3,
  >*>*>*>ul>li,
  >*>*>*>ol>li,
  >*>*>*>dl>dt {
    padding-left: 3em;
    &::before {
      content: counter(cnt)"-"counter(cnt2)"-"counter(cnt3);
      font-size: 1em;
      line-height: 1;
      min-width: 2em;
      text-align: center;
      padding: #{$line_height / 3}em;
      background-color: $color;
      color: #fff;
      //top: #{($line_height - 1)/ 2}em;
      left: -1em;
      transform: scale(0.5);
    }
  }
}
[class*="figure_circle"] {
  *::before {
    border-radius: 2em;
  }
}
//数字リスト（箱 白入り）
.figure_box_w,
.figure_circle_w {
  .fg_cnt:not(ul):not(ol):not(dl),
  >li,
  >dt {
    &::before {
      background-color: transparent;
      border: 0.1em solid $base;
      color: $color;
    }
  }
  .fg_cnt2,
  >*>ul>li,
  >*>ol>li,
  >*>dl>dt {
    padding-left: 2.5em;
    &::before {
      background-color: transparent;
      border: 0.1em solid $base;
      color: $color;
    }
  }
  .fg_cnt3,
  >*>*>*>ul>li,
  >*>*>*>ol>li,
  >*>*>*>dl>dt {
    padding-left: 3em;
    &::before {
      background-color: transparent;
      border: 1px solid $base;
      color: $color;
    }
  }
}
//数字リスト（第○章○節○項）
.figure_chap {
  .fg_cnt:not(ul):not(ol):not(dl),
  >li,
  >dt {
    padding-left: 3em;
    &::before {
      content: "第"counter(cnt) "章";
    }
  }
  .fg_cnt2,
  >*>ul>li,
  >*>ol>li,
  >*>dl>dt {
    padding-left: 2em;
    &::before {
      content: counter(cnt2)"節 ";
    }
  }
/*  >*>ul>li,
  >*>ol>li {
    margin-left: -2em;
  }*/
  .fg_cnt3,
  >*>*>*>ul>li,
  >*>*>*>ol>li,
  >*>*>*>dl>dt {
    padding-left: 2em;
    &::before {
      content: counter(cnt3)"項";
    }
  }
/*  >*>*>*>ul>li,
  >*>*>*>ol>li {
    margin-left: -1em;
  }*/
}
// はみ出し隠し（overflow）
.of_h {
  overflow: hidden;
}
.ofx_h {
  overflow-x: hidden;
}
.ofy_h {
  overflow-y: hidden;
}
// はみ出しスクロール（overflow）
.of_s {
  overflow: scroll;
}
.ofx_s {
  overflow-x: scroll;
}
.ofy_s {
  overflow-y: scroll;
}
// textbox和文用
.text {
  text-align: justify;
  text-indent: 1em;
  >i.space {
    display: inline-block;
    min-width: 1em;
  }
}
// ルビの調整
ruby>rt {
  font-size: 0.5em;
  letter-spacing: 0;
  line-height: 1;
}

// img関係
.image {
  img {
   display: inline-block;
   width: 100%;
   height: auto;
   object-fit: cover;
   &+span {
     display: block;
     text-align: center;
     font-size: 0.75em;
   }
  }
  a>img {
   &:hover {
     opacity: 0.5!important;
  }
 }
 &.fl,
 &.fr {
   width: auto;
   max-width: 100%;
   margin: 0 0 $font-size;
   +* {
     margin-top: 0;
   }
   img {
     width: auto;
     max-width: 100%;
   }
 }
 &.fl{
   margin-right: $font-size;
 }
 &.fr {
   margin-left: $font-size;
 }
}
img {
  opacity: 0;
  transition: 0.5s;
  width: auto;
  height: auto;
}
.show_image {
  opacity: 1;
}
.gotop {
  display: block;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0,0,0,0.25);
  opacity: 1;
  transition: 0.5s;
  z-index: 65535;
  &.visible {
    opacity: 0;
  }
  @include  mq-down() {
    transform: scale(0.75);
  }
}

$i: 10;
@while $i > 0 {
  .wd#{$i * 10} {
    width: #{$i * 10 + "%!important"};
    flex-basis: #{$i * 10 + "%!important"};
    &[class*="column"] {
      left: -#{$row / 2}!important;
      &.fx_row_r {
        right: -#{$row / 2}!important;
        left: inherit;
      }
      &.fx_clm {
        left: inherit;
        top: -#{$row / 2}!important;
      }
      &.fx_clm_r {
        left: inherit;
        bottom: -#{$row / 2}!important;
      }
      // width: calc(#{$i * 10}% + #{$row})!important;
    }
  }
  @include mq-up () {
    .wd#{$i * 10}_pc {width: #{$i * 10 + "%!important"};}
    .max_w#{($win-xl * $i) / 10)} {max-width: #{($win-xl * $i) / 10}!important; margin-left: auto; margin-right: auto;}
//    [class*="column"] {
//      &.w#{$i * 10}_pc {
//        width: calc(#{$i * 10}% + #{$row})!important;
//        left: 0;
//      }
//      &.max_w#{($win-xl * $i) / 10)} {max-width: #{($win-xl * $i) / 10}!important; margin-left: auto; margin-right: auto;}
//    }
  }
  @include mq-down () {
    .wd#{$i * 10}_spc {
      width: #{$i * 10 + "%!important"};
    }
  }
  .mt#{$i} {margin-top: #{$i + "rem!important"};}
  .mb#{$i} {margin-bottom: #{$i + "rem!important"};}
  .ml#{$i} {margin-left: #{$i + "rem!important"};}
  .mr#{$i} {margin-right: #{$i + "rem!important"};}
  .mt-#{$i} {margin-top: -#{$i + "rem!important"};}
  .mb-#{$i} {margin-bottom: -#{$i + "rem!important"};}
  .ml-#{$i} {margin-left: -#{$i + "rem!important"};}
  .mr-#{$i} {margin-right: -#{$i + "rem!important"};}
  .pt#{$i} {padding-top: #{$i + "rem!important"};}
  .pb#{$i} {padding-bottom: #{$i + "rem!important"};}
  .pl#{$i} {padding-left: #{$i + "rem!important"};}
  .pr#{$i} {padding-right: #{$i + "rem!important"};}
  .top#{$i} {top: #{$i + "rem!important"};}
  .bottom#{$i} {bottom: #{$i + "rem!important"};}
  .left#{$i} {left: #{$i + "rem!important"};}
  .right#{$i} {right: #{$i + "rem!important"};}
  .top-#{$i} {top: -#{$i + "rem!important"};}
  .bottom-#{$i} {bottom: -#{$i + "rem!important"};}
  .left-#{$i} {left: -#{$i + "rem!important"};}
  .right-#{$i} {right: -#{$i + "frem!important"};}
   @if $i != 10 {
    .fs4\.#{$i} {font-size: #{4 + $i/10  + "em!important"};}
    .fs3\.#{$i} {font-size: #{3 + $i/10  + "em!important"};}
    .fs2\.#{$i} {font-size: #{2 + $i/10  + "em!important"};}
    .fs1\.#{$i} {font-size: #{1 + $i/10  + "em!important"};}
    .fs0\.#{$i} {font-size: #{$i/10 + "em!important"};}
    .ls-0\.0#{$i} {letter-spacing: -#{$i / 100}em;}
    .ls0\.0#{$i} {letter-spacing: #{$i / 100}em;}
    .ls-0\.1#{$i} {letter-spacing: -#{($i / 100) + 0.1}em;}
    .ls0\.1#{$i} {letter-spacing: #{($i / 100) + 0.1}em;}
    .ls-0\.#{$i} {letter-spacing: -#{$i / 10}em;}
    .ls0\.#{$i} {letter-spacing: #{$i / 10}em;}
    .fw#{$i * 100} {font-weight: #{$i * 100};}
  } @else {
   .fs5 {font-size: 5em!important;}
   .fs4 {font-size: 4em!important;}
   .fs3 {font-size: 3em!important;}
   .fs2 {font-size: 2em!important;}
   .fs1 {font-size: 1em!important;}
   .ls-#{$i/10} {letter-spacing: -#{$i / 10}em;}
   .ls#{$i/10} {letter-spacing: #{$i / 10}em;}
  }
  $i: $i - 1;
}
// padding つきblock（全、半）
.box:not([class*="flex"]),
.box[class*="flex"]>* {
  @include mq-up() {
    padding: $row;
  }
  @include mq-down() {
    padding: $font_size;
  }
}
[class*="wd"] {
  @include mq-up() {
    max-width: inherit!important;
  }
  @include mq-down() {
    max-width: calc(100% - #{$font-size * 2})!important;
  }
}
.h_box:not([class*="flex"]),
.h_box[class*="flex"]>* {
  padding: $row / 2;
}
// border つきblock
[class*="border"] {
  border: #{$font_size / 10} solid $border_color;
}
// flex columnの生成
@mixin flex_column() {
  &[class*="column"] {
    @include mq-up() {
//      margin-left: -$row;
//      margin-bottom: $row;
      position: relative;
      width: 100%;
      &.gap {
        left: -$row;
        width: calc(100% + #{$row});
        >* {
          margin-left: $row;
          &.fx_row_r {
            margin-right: $row;
            margin-left: inherit;
          }
          &.fx_clm {
            margin-top: $row;
            margin-left: inherit;
          }
          &.fx_clm_r {
            margin-bottom: $row;
            margin-left: inherit;
          }
        }
      }
      &.h_gap {
        left: -#{$row / 2};
        width: calc(100% + #{$row / 2});
        >* {
          margin-left: #{$row / 2};
          &.fx_row_r {
            margin-right: #{$row / 2};
            margin-left: inherit;
          }
          &.fx_clm {
            margin-top: #{$row / 2};
            margin-left: inherit;
          }
          &.fx_clm_r {
            margin-bottom: #{$row / 2};
            margin-left: inherit;
          }
        }
      }
      &.clm_mach>* {
        display: flex;
        flex-direction: row;
        >* {
          flex-basis: 100%;
        }
      }
    }
    @include mq-down() {
      &[class*="gap"] {
        margin-left: 0;
        >* {
          margin-left: $font_size;
        }
      }
      .flex[class*="column"] {
        width: 100%;
        &[class*="gap"] {
          width: calc(100% + #{$font-size});
          margin-left: -$font-size;
          &.fx_row_r {
              margin-right: -$font-size;
              margin-left: inherit;
          }
          &.fx_clm_r {
              margin-top: -$font-size;
              margin-left: inherit;
          }
          &.fx_clm_r {
              margin-bottom: -$font-size;
              margin-left: inherit;
          }
        }
      }
    }
/*    &.nogap,
    &[class*="wd_mach"] {
      width: 100%;
//      margin-left: 0;
      position: static;
      left: 0;
      >* {
        margin-left: 0;
      }
    }*/
  }
  $i: 2;
  @while $i <= 10 {
    &.column#{$i} {
      @include flex_column2($i);
    }
    &.column#{$i}_pc {
      @include mq-up() {
        @include flex_column2($i);
      }
    }
    &.column#{$i}_sp {
      @include mq-down() {
        @include flex_column2($i);
      }
    }
    $i: $i + 1;
  }
}
@mixin flex_column2($i) {
  >* {
    $ii: 100 / $i;
    flex-basis: #{$ii+"%"};
    &:not([class*="grow"]) {
      max-width: #{$ii+"%"};
    }
    margin-bottom: 0;
  }
  &.wrap{
    &.gap {
      @include mq-down() {
        margin-bottom: -$font_size;
      }
      >* {
        @include mq-up() {
          margin-bottom: $row;
        }
        @include mq-down() {
          margin-bottom: $font_size;
        }
      }
    }
    &.h_gap {
      @include mq-down() {
        margin-bottom: -$font_size;
      }
      >* {
        @include mq-up() {
          margin-bottom: #{$row / 2};
        }
        @include mq-down() {
          margin-bottom: $font_size;
        }
      }
    }
  }

  &[class*="fx_clm"] {
    >* {
      $ii: 100 / $i;
      &:not([class*="grow"]) {
        max-width: inherit;
        max-height: #{$ii+"%"};
      }
      margin-bottom: 0;
    }
    &.wrap{
      &.gap {
        @include mq-down() {
          margin-bottom: inherit;
          margin-right: -$font_size;
        }
        >* {
          @include mq-up() {
            margin-bottom: inherit;
            margin-right: $row;
          }
          @include mq-down() {
            margin-bottom: inherit;
            margin-right: $font_size;
          }
        }
      }
      &.h_gap {
        @include mq-down() {
          margin-bottom: inherit;
          margin-right: -$font_size;
        }
        >* {
          @include mq-up() {
            margin-bottom: inherit;
            margin-right: #{$row / 2};
          }
          @include mq-down() {
            margin-bottom: inherit;
            margin-right: $font_size;
          }
        }
      }
    }
  }

  &[class*="gap"]>* {
    $ii: 100 / $i;
    @include mq-down() {
      flex-basis: calc(#{$ii+"%"} - #{$font_size});
      &:not([class*="grow"]) {
        max-width: calc(#{$ii+"%"} - #{$font_size});
      }
    }
  }
  &.gap>* {
    $ii: 100 / $i;
    @include mq-up() {
      flex-basis: calc(#{$ii+"%"} - #{$row});
      &:not([class*="grow"]) {
        max-width: calc(#{$ii+"%"} - #{$row});
      }
    }
  }
  &.h_gap>* {
    $ii: 100 / $i;
    @include mq-up() {
      flex-basis: calc(#{$ii+"%"} - #{$row / 2});
      &:not([class*="grow"]) {
        max-width: calc(#{$ii+"%"} - #{$row / 2});
      }
    }
  }
  &.clm_mach {
    >* {
      >:nth-child(#{$i}n-1) {
        justify-content: flex-end;
      }
      >:nth-child(#{$i}n) {
        justify-content: flex-start;
      }
      >* {
      flex-direction: row;
        @include mq-up() {
          margin: 0;
        }
      }
    }
    &.wrap > * {
      margin-bottom: 0;
    }
    >:not([class*="grow"]),
    >:not([class*="grow"])>* {
      max-width: #{$win-xl / $i};
    }
    >:not([class*="grow"]):nth-child(#{$i}n+1),
    >:not([class*="grow"]):nth-child(#{$i}n) {
      max-width: inherit;
      flex-grow: 2;
    }
    >:nth-child(#{$i}n+1) {
      justify-content: flex-end;
    }
    >:nth-child(#{$i}n) {
      justify-content: flex-start;
    }
    @include mq-up() {
      >:not([class*="grow"]) {
        flex-basis: #{100 / $i + "%"};
        max-width: #{$win-xl / $i};
      }
      >:not([class*="grow"])>* {
        flex-basis: 100%;
        max-width: #{$win-xl/$i};
      }
      >:not([class*="grow"]):nth-child(#{$i}n+1),
      >:not([class*="grow"]):nth-child(#{$i}n) {
        flex-basis: #{100 / $i + "%"};
        max-width: inherit;
        flex-grow: 2;
      }
    }
    &[class*="box"] {
      > * {
        padding: 0;
      }
      @include mq-up() {
        >:not([class*="grow"]):nth-child(#{$i}n+1),
        >:not([class*="grow"]):nth-child(#{$i}n) {
          max-width: inherit;
        }
      }
    }
    &.box {
      > * {
        >* {
          //padding: $row;
          @include mq-up() {
            margin: $row;
          }
          @include mq-down() {
            margin: $font-size;
          }
        }
      }
      @include mq-up() {
        >:not([class*="grow"]) {
          flex-basis: calc(#{100 / $i + "%"} + #{($row * 2)/$i});
          max-width: calc(#{$win-xl / $i} + #{($row * 2)/$i});
        }
        >:not([class*="grow"])>* {
          flex-basis: calc(100% - #{($row * 2 * ($i - 1)) / $i});
          max-width: calc(#{$win-xl/$i} - #{($row * 2 * ($i - 1)) / $i});
        }
        >:not([class*="grow"]):nth-child(#{$i}n+1),
        >:not([class*="grow"]):nth-child(#{$i}n) {
          flex-basis: calc(#{100 / $i + "%"} - #{$row});
        }
      }
    }
    &.h_box {
      > * {
        >* {
          @include mq-up() {
            margin: #{$row / 2};
          }
          @include mq-down() {
            margin: $font-size;
          }
        }
      }
      @include mq-up() {
        >:not([class*="grow"]) {
          flex-basis: calc(#{100 / $i + "%"} + #{$row / $i});
          max-width: calc(#{$win-xl / $i} + #{$row / $i});
        }
        >:not([class*="grow"])>* {
          flex-basis: calc(100% - #{($row * ($i - 1)) / $i});
          max-width: calc(#{$win-xl/$i} - #{($row * ($i - 1)) / $i});
        }
        >:not([class*="grow"]):nth-child(#{$i}n+1),
        >:not([class*="grow"]):nth-child(#{$i}n) {
          flex-basis: calc(#{100 / $i + "%"} - #{$row / 2});
        }
      }
    }
  }
}



@include mq-down() {
  article,section {
    &[class*="flex"][class*="column"].wrap {
      margin-bottom: 0;
    }
  }
}
.flex {
  display: flex;
  @include flex_column();
}
[class*="flex"] {
  //width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  //margin-bottom: $row;
  & [class*="flex"] {
    margin-bottom: 0;
    &.wrap {
      @include mq-up () {
        margin-bottom: -$row;
      }
    }
  }
  $i: 2;
  @while $i <= 5 {
    >.grow#{$i} {
      flex-grow: $i;
      max-width: inherit!important;
    }
    $i: $i + 1;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.fx_between {
    justify-content: space-between;
  }
  &.fx_around {
    justify-content: space-around;
  }
  &.fx_left {
    justify-content: flex-start;
  }
  &.fx_center {
    justify-content: center;
  }
  &.fx_right {
    justify-content: flex-end;
  }
  &.fx_top {
    align-items: flex-start;
  }
  &.fx_middle {
    align-items: center;
  }
  &.fx_bottom {
    align-items: flex-end;
  }
  &.fx_row {
    flex-direction: row;
  }
  &.fx_row_r {
    flex-direction: row-reverse;
  }
  &.fx_clm {
    flex-direction: column;
  }
  &.fx_clm_r {
    flex-direction: column-reverse;
  }
  >section {
    margin: 0;
  }
}
@function halfSize($value) {
	@return round($value / 2);
}
@include mq-up() {
  header,main,footer,article,section {
    width: 100%;
  }
  .sp { display: none;}
  .flex_pc {
    display: flex;
  }
  article {
    padding: $row 0;
  }
  >*:not(.flex)+* {
    margin-top: $row;
  }
  p+p {
    margin-top: #{$line_height + em};
  }
  [class*="flex"] {
    >*+*,
    >p+p {
      margin-top: 0;
    }
  }
  section {
    $i: 6;
    @while $i > 0 {
      *+h#{$i},
      *+.h#{$i},
      h#{$i}>*:not(.flex)+p,
      .h#{$i}>*:not(.flex)+p {
        margin-top: $row;
      }
      $i: $i - 1;
    }
  }
/*  .nogap+.nogap {
    margin: 0;
  }*/
  .flex_pc {
    @include flex_column();
  }
}

@include mq-down() {
  body {
    overflow-x: hidden;
  }
  .pc { display: none;}
  .flex_sp {
    display: flex;
    @include flex_column();
  }
  .flex,
  .flex_pc {
    width: calc(100% - #{$font_size * 2});
/*    &.gap {
      width: calc(100% - #{$font_size * 2});
    }*/
    .flex_pc {
      width: 100%;
    }
  }
  article[class*="flex"],
  section[class*="flex"] {
    width: 100%;
  }
  .no_mw {
    .flex,
    .flex_pc {
      width: 100%;
    }
  }
  article[class*="flex"], section[class*="flex"] {
    >.flex,
    >.flex_pc {
      width: 100%;
    }
  }
/*  [class*="flex"] {
    width: calc(100% - #{$font_size * 2});
    .nogap {
      width: calc(100% - #{$font_size * 2})
    }
  }*/
  main section {
    >* {
      margin: 0 $font_size;
    }
    &.no_mw>* {
      margin: 0;
    }
    *+*,
    *>p+p {
      margin-top: $font_size;
    }
    [class*="table"] tr+*,
    [class*="table"] th+*,
    [class*="table"] td+*,
    .table_b2 td>*,
    .flex>*+*,
    .flex>p+p {
      margin-top: 0;
    }
    > .flex[class*="column"][class*="gap"] {
      width: calc(100% - #{$font_size});
    }
    * > .flex[class*="column"][class*="gap"] {
      width: calc(100% + #{$font_size});
      position: relative;
      left: -$font_size;
    }
  }
  .flex_pc {
    >*+* {
      margin-top: 0;
    }
    &[class*="gap"]>*+* {
      margin-top: $font_size;
    }
  }
}


// table関係（疑似table含む）
table,
[class*="table"] {
  display: table;
  table-layout: fixed;
}
[class*="table"]:not(table) {
  >* {
    display: table-row;
    >* {
      display: table-cell;
    }
  }
}
[class*="table1"] {
  @include mq-down() {
    display: block;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
.table1b {
  @include mq-down() {
    tr {
      position: relative;
      display: flex;
      width: 100%;
    }
    tr>:first-child {
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      //transition: 0.15s;
    }
  }
}
[class*="table2"] {
  @include mq-down() {
    display: block;
    caption,
    thead,
    tbody {
      display: block;
    }
    &:not(table)>*,
    tr {
      display: flex;
      flex-direction: column;
      &+tr {
        margin-top: $row;
      }
    }
  }
}
.table2b {
  @include mq-down() {
    thead {
      display: none;
    }
    th,td {
      display: flex;
      >.th {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 0;
      }
      >.td {
        flex-grow: 2;
        margin-top: 0;
      }
    }
  }
}
.tab_css:not(input) input,
input.tab_css {
  display: none;
  + * {
    opacity: 0;
    display: none;
    transition-duration: 0.3s;
  }
  &:checked + * {
    opacity: 1;
    display: block;
  }
}

//モーダルウインドウの表示
.modal {
  cursor: pointer;
  &[href^="#"]+[id] {
    display: none;
  }
}
.modal_contents {
  display: none;
}
.modal_win {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
   justify-content: center;
   display: none;
   >* {
     background-color: $bg;
   }
   @include mq-down() {
     >p {
       width: auto;
       height: auto;
       max-width: calc(100% - 2rem);
       max-height: calc(100% - 2rem);
       >img {
         width: 100%;
         height: 100%;
       }
     }
   }
   img {
     opacity: inherit;
   }
   video {
     width: 100%;
     display: block;
   }
//   iframe {
//     @include mq-up() {
//       width: 100%;
//       height: 100%;
//       max-width: 120rem;
//       max-height: 90rem;
//     }
//   }
   >div {
   @include mq-up() {
//     width: 120rem;
     max-width: 75%;
     max-height: 75%;
   }
   @include mq-down() {
     max-width: calc(100% - #{$row});
     max-height: calc(100% - #{$row});
     > div {
         overflow-y: scroll;
         max-height: calc(100vh - #{$row});
         >* {
           min-width: 100%;
         }
     }
   }
 }
 >* {
   position: relative;
   >.close {
     position: absolute;
     z-index: 2;
     @include mq-up() {
       right: -2rem;
       top: -2rem;
       width: 4.5rem;
       height: 4.5rem;
     }
     @include mq-down() {
       right: -1rem;
       top: -1rem;
       width: 3rem;
       height: 3rem;
     }
     background-color: #fff;
     border-radius: 50%;
     border: 0.2rem solid $base;
     &::before,
     &::after {
       content: "";
       position: absolute;
       display: block;
       left: 33.33%;
       right: 33.33%;
       top: calc(50% -  0.1rem);
       background-color: $base;
       height:  0.2rem;
     }
     &::before {
       transform: rotate(-45deg);
     }
     &::after {
       transform: rotate(45deg);
     }
     &:hover {
       background-color: $base;
       &::before,
       &::after {
         background-color: #fff;
       }
     }
   }
 }
 >p {
   position: relative;
   .caption {
     position: absolute;
     display: block;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     padding: $font-size $row;
     color: #fff;
     text-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem -0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem 0.2rem 0.4rem rgba(0,0,0,0.25), -0.2rem -0.2rem 0.4rem rgba(0,0,0,0.25);
     background: linear-gradient(0deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
   }
   .prev,.next  {
     width: 50%;
     display: flex;
     position: absolute;
     top: 0;
     bottom: 0;
     align-items: center;
     padding: $row;
     &::before {
       content: "";
       display: block;
       width: 1.5em;
       height: 1.5em;
       border: solid #fff;
       border-width: 0.2em 0.2em 0 0;
       opacity: 0;
     }
     &:hover::before  {
       opacity: 1;
     }
   }
   .prev {
     &:hover {
       background: linear-gradient(90deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
     }
     justify-content: flex-start;
     left: 0;
     &::before {
       transform: rotate(-135deg);
     }
   }
   .next {
     &:hover {
       background: linear-gradient(-90deg, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 100%);
     }
     justify-content: flex-end;
     right: 0;
     &::before {
       transform: rotate(45deg);
     }
   }
 }
}
