
 // ==========Fonts==========
@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
$gothic: "Noto Sans Japanese", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$mincho: "Sawarabi Mincho", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

 // ==========基本設定==========
 //画面サイズ
 $win-sm: 400px;
 $win-md: 768px;// タブレット
 $win-lg: 1000px;
 $win-xl: 1280px;// PC最大

 //ベース単位（PC/SP）（Pixcel）
 $base_size_pc: 10px;
 $base_size_sp: 3vw;

 //基本フォントサイズ（rem）
 $font_size: 1.6rem;
 //行間
 $line_height: 1.75;
 //マージン（ブロックごと※行間は半分）※PCのみ適用、SPは"$font_size"に準じる
 $row: 3.2rem;



 //基本色
$color: #333; // 文字色
$link_color: #8ab928;// リンク色
$border_color: #ccc; // 線の基本色
$base: #5f5f5f;
$bg: #fff;

 //サービス系
$pdf_color: #c70c05; // PDF関係
$doc_color: #1f3275; // Word関係
$xls_color: #106b37; // Excel関係
$ppt_color: #d24726; // PowerPoint関係

//ハコビバ様種別
$yokocho_color: $link_color;// 函館駅前横丁
$cafe_color: #5f9b59; $food_color: $cafe_color;//.cafe カフェ・.food フード
$hotel_color: #8f81a8; $shop_color: $hotel_color; //.hotelホテル・.shop, ショッピング
$gym_color: #c47095; $event_color: $gym_color; //.gym スポーツジム・.event, イベント
$new_color: #109b9d; //新着・NEW
//========== 以下編集不可 ==========

// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width:' +$win-sm+ ')',
  'md': 'screen and (min-width:' +$win-md+ ')',
  'lg': 'screen and (min-width:' +$win-lg+ ')',
  'xl': 'screen and (min-width:' +$win-xl+ ')',
) !default;
// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width' +($win-sm - 1)+ ')',
  'md': 'screen and (max-width:' +($win-md - 1)+ ')',
  'lg': 'screen and (max-width:' +($win-lg - 1)+ ')',
  'xl': 'screen and (max-width:' +($win-xl - 1)+ ')',
) !default;
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}
@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

//@mixin mq-updown($breakpoint: xl , $breakpoint2: md) {
//  @media #{map-get($breakpoint-updown, $breakpoint, $breakpoint2)} {
//    @content;
//  }
//}
