@charset "utf-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 */



// ==========Font Awesome（文字アイコン使用）==========
//任意（アイコンを使うときのみ）
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");

// ==========読み込みパーツ==========
@import "./_setup";//必須（設定値のみ変更可）
@import "./_reset";//commonのみ必須（変更不可）
@import "./_color";//commonのみ必須 色パレットを使用するとき（変更可）
@import "./_header";//commonのみ必須（変更可）
@import "./_parts";//commonのみ必須（変更不可）注.変更は別ファイルで実施
@import "./_link.scss";//アンカーリンクにアイコンが付く（一部変更可）

// _partsの追加、打ち消し処理
@include mq-down() {
  main {
    width: 100vw;
//    overflow-x: hidden;
  }
}
.image {
    > img, a>img {
      display: block;
    }
}

.gotop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &::before {
    content: "";
    display: block;
    width: 33.3%;
    height: 33.3%;
    margin-top: 1rem;
    border: solid #fff;
    border-width: 0.3rem 0 0 0.3rem;
    transform: rotate(45deg);
  }
}
main {
  article {
    padding: 0;
  }
  section {
//      margin: 0 auto;
      position: relative;
  }
  .button {
    text-align: center;
    a {
      display: inline-block;
      position: relative;
      min-width: 17rem;
      padding: 0.33rem 2rem;
      border: 0.2rem solid $color;
      border-radius: 0.2rem;
      text-decoration: none;
      color: $color;
      transition-duration: 0.3s;
      &::before {
        display: none;
      }
      &::after {
        border-color: $color;
        border-width: 0.3rem 0.3rem 0 0;
        transform: rotate(45deg)scale(0.75);
      }
      &:hover {
        background-color: $color;
        color: #fff;
        &::after {
          border-color: #fff;
        }
      }
    }
  }
  .title {
    width: 100%;
    max-width: $win-xl;
    margin: auto;
    > .button:last-child {
      display: flex;
      align-items: center;
      @include mq-up() {
        justify-content: flex-end;
      }
      @include mq-down() {
        justify-content: center;
      }
    }
    >i {
      margin-right: 0.5em;
    }
  }
  .title > h1,
  h1.title {
    font-weight: 400;
    font-family: $mincho;
    font-style: italic;
    text-align: center;
    position: relative;
    @include mq-up() {
      font-size: 6rem;
    }
    @include mq-down() {
      font-size: 4.5rem;
      text-align: center;
    }
    > span {
      transform: scale(0.25);
      padding-left: 1.5em;
      padding-right: 1.5em;
      position: relative;
      top: -0.75em;
      color: #fff;
      font-family: $gothic;
      font-style: normal;
      display: inline-block;
      background-color: #808080;
    }
  }
  .title > h2,
  h2.title {
    font-weight: 400;
    font-family: $mincho;
    font-style: italic;
    @include mq-up() {
      font-size: 4.5rem;
    }
    @include mq-down() {
      font-size: 3rem;
      text-align: center;
    }
    > span {
      border-left: 0.2rem solid $color;
      margin-left: 1.5em;
      padding-left: 1.5em;
      font-size: 0.5em;
      font-family: $gothic;
      font-style: normal;
    }
  }
}
#access {
  section {
    margin-bottom: 0;
  }
}
