@charset "UTF-8";
@import "./_setup";//必須（設定値のみ変更可）
@import "./_color";//色パレットを使用するとき（変更可）

#mfp_hidden {
	display: none;
}
.mfp_thanks {
	text-align: center;
	font-size: 1.8rem;
	padding: $row 0;
	ul.mfp_caution {
		li {
			color: $red;
			margin: 0;
			padding: $row  0;
		}
	}
	strong {
		color: $red;
		font-size: 2.4rem;
	}
}
form {
	display: flex;
	flex-direction: column;
	* + * {
		margin-top: $row;
	}
	input,
	textarea {
		width: 100%;
		display: block;
		border: 0.1em solid $border_color;
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		box-shadow: 0.1em 0.1em 0.1em #{$border_color} inset;
	}
	textarea {
		width: 100%!important;
		height: 10em!important;
	}
	[type="checkbox"],
	[type="radio"] {
		display: none;
		+ * + i,
		+ i {
			transform: scale(0.67);
			transition-duration: 0.3s;
			display: inline-block;
		  position: relative;
	    align-items: center;
	    color: $red;
	    width: 1.25em;
	    height: 1.25em;
			bottom: -0.2em;
			margin: 0 0.5em 0 0;
			background-color: $bg;
			border: 0.1em solid $border_color;
			box-shadow: 0.1em 0.1em 0.1em #{$border_color} inset;
			&::before {
				position: absolute;
//	    	font-size: 2.5em;
			}
		}
		&:checked {
			+ * + i,
			+ i {
				transform: scale(1.1);
			}
		}
	}
	[type="checkbox"] {
		+ * + i,
		+ i {
			border-radius: 0.05em;
		}
		&:checked {
			+ * + i,
			+ i {
				&::before {
					content: "\2713";
					bottom: 0;
					transform: scale(2.5);
				}
			}
		}
	}
	[type="radio"] {
		+ * + i,
		+ i {
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
		&:checked {
			+ * + i,
			+ i {
				&::before {
					content: "";
					box-shadow: 0.1em 0.1em 0.1em #{bg} inset;
					background-color: $color;
					border-radius: 50%;
					width: 100%;
					height: 100%;
					transform: scale(0.5);
				}
			}
		}
	}
	.flex_pc {
		width: 100%;
		max-width: $win-lg;// 全体の横幅を変更する場合はココ
		@include mq-up() {
			>* {
				position: relative;
				padding: #{$font-size / 2} $font-size;
			}
			dt {
				flex-basis: 16rem;
				max-width: 16rem;
			}
			dd {
				flex-basis: calc(100% - 16rem);
				max-width: calc(100% - 16rem);
			}
		}
	}
}
.must {
	display: block;
	background-color: $red;
	border: solid 0.2rem $red;
	text-shadow: 0 0.1rem 0.2rem #933;
	padding: 0.2rem 0.5rem;
	font-size: 1rem;
	color: $bg;
	float: left;
	margin: 0 0.5rem;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.5rem $border_color;
	background-image: url(_images/mfp_header.png);
	background-size: 100% 100%;
}
.optionally {
	display: block;
	background-color: #06C;
	border: solid 0.2rem #06C;
	text-shadow: 0 0.1rem 0.2rem #933;
	padding: 0.2rem 0.5rem;
	font-size: 1rem;
	color: $bg;
	float: left;
	margin: 0 0.5rem;
	border-radius: 0.4rem;
	box-shadow: 0 0 0.5rem $border_color;
	background-image: url(_images/mfp_header.png);
	background-size: 100% 100%;
}
table {
	#mfp_confirm_table {
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		tr {
			&.mfp_colored {
				background-color: #F6F7F9;
			}
			&.mfp_achroma {
				background-color: $bg;
			}
			th, td {
				text-align: left;
				border-top: solid 0.1rem $border_color;
			}
			th {
				white-space: nowrap;
			}
			td {
				word-break: break-all;
			}
		}
	}
}
#mfp_phase_confirm {
	h4 {
		font-size: 2em;
		padding: 1rem 0;
		text-align: center;
	}
}
#mfp_overlay {
	position: fixed;
	display: none;
	z-index: 10001;
	top: 0!important;
	bottom: 0!important;
	left: 0!important;
	right: 0!important;
}
#mfp_overlay_inner {
	padding: 1.5rem;
	margin: 0 auto;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	>*+* {
		margin-top: $font-size;
	}
	h4 {
		paddng: $font-size;
		text-align: center;
		color: $bg;
		text-shadow: 0 0 0.2em #000;
	}
}
#mfp_overlay_background {
	position: absolute;
	display: none!important;
	z-index: 10000;
}
#mfp_loading_screen {
	z-index: 20000;
	opacity: 0.8;
	display: none!important;
	background-color: #000;
	position: absolute;
}
#mfp_loading {
	z-index: 20001;
	position: absolute;
	display: none!important;
	width: 4rem;
	height: 4rem;
//	background-image: url(_images/mfp_loading.gif);
}
.mfp_colored {
	background-color: #F6F7F9;
}
.mfp_achroma {
	background-color: $bg;
}
.mfp_err {
	display: none;
	position: absolute;
	top: -7rem;
	right: 1em;
	padding: 0.5rem 1rem 0.5rem 2em;
	background-color: $yellow;
	border-radius: 1rem;
	transform: scale(0.833);
	&::before {
		content: "!";
		display: inline-block;
		text-align: center;
		position: absolute;
		left: 1em;
		top: 1em;
		font-size: 0.5em;
		font-weight: 900;
		background-color: $red;
		color: $yellow;
		border-radius: 0.4em;
		width: 2em;
		line-height: 2em;
		animation: err_before 0.5s ease-in-out infinite alternate;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-top: 2em solid $yellow;
		border-right: 2em solid transparent;
		transform: skewX(-30deg);
	}
}
@keyframes err_before {
    0% {opacity:0;}
    50% {opacity:0;}
    51% {opacity:1;}
    100% {opacity:1;}
}

.mfp_parent_error {
	border: solid 0.2rem #F00;
}
.problem {
	background-color: #FCC;
}
#mfp_error {
	background-color: #FEE;
	border: solid 0.1rem #F00;
	padding: 1rem;
	display: none;
	p {
		padding: 0;
		margin: 0;
		font-size: 1.4rem;
		text-align: center;
		strong {
			font-size: 1.8rem;
			color: #F00;
		}
	}
}
#mfp_warning {
	background-color: #FEE;
	border: solid 0.1rem #F00;
	padding: 1rem;
	display: none;
	border-radius: 0.5rem;
	p {
		padding: 0;
		margin: 0;
		font-size: 1.4rem;
		text-align: center;
		strong {
			font-size: 1.8rem;
			color: #F00;
		}
	}
}
#mfp_price {
	color: $red;
	font-size: 3.6rem;
	padding: 1rem;
	font-weight: bolder;
	span {
		color: #666;
		font-weight: normal;
	}
}
button {
	&.mfp_next,
	&.mfp_prev {
		font-size: 1.8rem;
		margin: 1rem;
		padding: 0.5rem 1rem;
	}
	&.mfp_next {
		float: right;
	}
	&.mfp_prev {
		float: left;
	}
}
ul#mfp_phase_stat {
	padding: 1rem;
	text-align: center;
	li {
		display: inline-block;
		padding: 0.8rem 1.5rem;
		border-radius: 0.5rem;
		margin: 0 0.5rem;
		list-style: none;
		font-size: 1.4rem;
		&.mfp_phase_arrow {
			box-shadow: none;
			color: #999;
			padding: 0.8rem 0;
		}
		&.mfp_active_phase {
			box-shadow: 0 0.1rem 0.6rem #000;
			background-image: url(_images/mfp_header.png);
			background-size: 100% 100%;
			background-color: #0068B7;
			border: solid 0.2rem #0068B7;
			font-weight: bolder;
			color: $bg;
			text-shadow: 0 0.1rem 0.3rem #000;
		}
		&.mfp_inactive_phase {
			background-image: url(_images/mfp_header.png);
			background-size: 100% 100%;
			background-color: #EEE;
			border: solid 0.2rem #EEE;
			color: #999;
			box-shadow: 0 0.1rem 0.6rem $border_color;
		}
	}
}
#mfp_shopping_cart {
	border: solid 0.1rem $border_color;
	margin: 0;
	padding: 0;
	p {
		margin: 0;
		text-align: center;
		padding: 2rem 1rem;
		background-color: #FEE;
	}
}
table.mfp_shoppingcart {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	thead tr td {
		background-color: #EEE;
		border-bottom: solid 0.1rem $border_color;
		text-align: center;
		padding: 0.5rem;
	}
	tbody tr  {
		th, td {
			padding: 0.5rem;
			border-bottom: solid 0.1rem $border_color;
		}
		td select {
			display: block;
			margin: 0 auto;
			text-align: center;
			option {
				text-align: center;
			}
		}
		th span {
			display: block;
			font-weight: normal;
			font-size: 1rem;
			color: #666;
			padding: 0.3rem 0;
		}
	}
	tfoot tr td {
		padding: 0.5rem;
		font-size: 1.6rem;
		font-weight: bolder;
		color: #900;
	}
	td.msc_price {
		text-align: right;
	}
}
.mfp_buttons {
	clear: both;
	padding: 1rem 0;
	text-align: center;
}
.imagebutton {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
}
.mfp_element_file {
	display: inline-block;
	padding: 1rem 1rem;
	vertical-align: middle;
	border: solid 0.1rem $border_color;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.5rem $border_color inset;
	background: #EEE;
}
button.mfp_next,
button.mfp_prev {
	font-size: 1.4rem;
}
input#mfp_reserve_item,
input#mfp_reserve_date {
	display: none;
}
#mfp_reserve_wrapper {
	position: relative;
	overflow: hidden;
	border: solid 0.1rem $border_color;
}
#mfp_reserve_inner {
	position: relative;
	padding: 0 0 0 10;
	overflow: auto;
	table {
		border-spacing: 0;
		border-collapse: collapse;
		&.mfp_reserve_table_label {
			position: absolute;
			top: 0;
			left: 0;
			width: 10;
			background-color: #FEE;
			z-index: 100;
		}
		&.mfp_reserve_table_value {
			padding: 0 0 0 0;
			tr td {
				&.mfp_reserve_active,
				&.mfp_reserve_warning {
					cursor: pointer;
					&:hover {
						background-color: #E8EEF9;
					}
				}
				&.mfp_reserve_current {
					background-color: #0068B7;
					color: $bg;
				}
			}
		}
		td.mfp_reserve_disabled {
			background-color: $border_color;
		}
		td.mfp_reserve_warning {
			background-color: #FFC;
		}
	}
}
table {
	td,th {
		padding: 0.5em;
		font-weight: normal;
	}
}
td.mfp_reserve_week_0 {
	color: $red;
}
td.mfp_reserve_week_6 {
	color: $blue;
}
.mfp_ok {
	border-radius: 0.5rm;
	background-color: #090;
	border: solid 0.1rem #090;
	display: inline-block;
	line-height: 1.5em;
	padding: 0 0.5rem;
	margin: 0 0.2rem;
	color: $bg;
	font-size: 1rem;
	background-size: 100% 100%;
	display: none;
}
.prefcodeWrapper {
	position: relative;
}
.prefcodeResult {
	position: absolute;
	top: 0;
	left: 0;
	border: solid 0.1rem $border_color;
	background-color: $bg;
	box-shadow: 0 0 0.5rem $border_color;
	display: none;
}
.prefcodeResult div {
	cursor: pointer;
}
.prefcodeResult div:hover {
	background-color: #C9EBFB;
}
.prefcodeResult .prefcodeNext {
	background-color: #EEE;
	text-align: center;
}
.prefLoading {
	background: url(_images/mfp_zip_loading.gif) no-repeat center center;
}
.hidefield {
	height: 0;
	overflow: hidden;
}
.showfield {
	height: auto;
	overflow: visible;
}
.mfp_attached_thumbnails {
	display: none;
	padding: 0.5rem;
	margin: 0.5rem auto;
	border: solid 0.1rem $border_color;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.5rem $border_color inset;
	background: #EEE;
}
.mfp_attached_thumbnails ul {
	margin: 0;
	padding: 0;
}
form#mailformpro dl dd div .mfp_attached_thumbnails {
	 ul li {
		display: inline-block;
		vertical-align: top;
		padding: 0;
		border: solid 0.4rem $bg;
		margin: 0.5rem;
		box-shadow: 0 0.2rem 0.5rem #999;
		a {
			display: block;
			max-height: 10;
			overflow: hidden;
			img {
				display: block;
				max-width: 8rem;
			}
		}
	}
}
button.mfp_attached_reset {
	font-size: 1.4rem;
}
.mfp_guide {
	position: relative;
	width: 0.1rem;
	height: 0.1rem;
	div {
		position: absolute;
		bottom: 0;
		left: 0;
		margin-top: -2em;
		white-space: nowrap;
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		line-height: 1em;
		color: $bg;
		font-weight: bolder;
		background: #F00;
		display: none;
	}
}
.mfp_ok {
	background-color: rgba(0,255,0,0.2);
}
.mfp_ng {
	background-color: rgba(255,0,0,0.2);
}
#mfp_OperationCheck {
	#mfp_OperationCheck_inner {
		display: none;
	}
}
#mfp_OperationCheck {
	strong {
		background: #090;
		display: block;
		color: #222;
		text-align: center;
		border-radius: 0.3rem;
	}
	p {
		padding: 0 0.5rem;
		margin: 0;
		a {
			color: #0C0;
			text-decoration: none;
		}
		button {
			border: none;
			background: none;
			color: #0C0;
			cursor: pointer;
		}
		a,buttom {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
#mfp_OperationCheck ul {
	li,
	li label,
	li label input {
		list-style: none;
		vertical-align: middle;
	}
	li {
		label {
			text-decoration: underline;
		}
	}
}
button {
	#mfp_recorder_record,
	#mfp_recorder_clear,
	#mfp_recorder_restore {
		border-radius: 0.5rem;
		padding: 0.5rem 1rem 0.5rem 2em;
		border: solid 0.1rem $border_color;
		background: gradient(linear, center top, center bottom, from(#EEE), to($border_color));
		background: -webkit-gradient(linear, center top, center bottom, from(#EEE), to($border_color));
		background: -moz-linear-gradient(top, #EEE, $border_color);
		background: -ms-linear-gradient(top, #EEE 0%, $border_color 100%);
		text-shadow: 0 0.2rem 0 $bg;
		font-size: 1.6rem;
		cursor: pointer;
		outline: none;
		display: inline-block;
		margin: 0.5rem auto;
		&.enabled {
			background: url(_images/mfp_record_enabled.png) no-repeat 0.5rem center #EEE;
			background-size: 2.4rem 2.4rem;
		}
	}
	#mfp_recorder_record {
		background: url(_images/mfp_record_disabled.png) no-repeat 0.5rem center #EEE;
		background-size: 2.4rem 2.4rem;
	}
	#mfp_recorder_clear {
		background: url(_images/mfp_record_remove.png) no-repeat 0.5rem center #EEE;
		background-size: 2.4rem 2.4rem;
	}
	#mfp_recorder_restore {
		background: url(_images/mfp_record_restore.png) no-repeat 0.5rem center #EEE;
		background-size: 2.4rem 2.4rem;
	}
}
#mfp_recorder_wrap {
	border: solid 0.1rem $border_color;
	padding: 1rem;
	text-align: center;
	margin: 0.5rem auto;
}
.request_image {
	width: 10;
	img {
		max-width: 10;
	}
}
button {
	&.mfp_submit_enable {
		background: none;
		background: #000090;
	}
	&.mfp_submit_disable {
		background: none;
		background: #FD8282;
	}
}
span.mfp_tips {
	background-image: url(_images/mfp_header.png);
	background-size: 100% 100%;
	background-color: #FCC;
	display: block;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0.2rem;
	box-shadow: 0 0.2rem 1rem #999;
	strong {
		color: #800040;
	}
	span {
		display: block;
		padding: 1rem;
		color: #008080;
	}
	em {
		font-style: normal;
		color: #090;
		font-weight: 700;
	}
}
@include mq-down() {
	#mfp_phase_confirm h4 {
		font-size: 1.8rem;
	}
	ul#mfp_phase_stat {
		padding: 0;
		text-align: left;
		li {
			text-align: center;
			padding: 0.5rem 0;
			border-radius: 0.3rem;
			margin: 0.5rem;
			list-style: none;
			font-size: 1.4rem;
			width: 28%;
			&.mfp_phase_arrow {
				bos-shadow: none;
				display: none;
			}
		}
	}
	#mfp_confirm_table tr th {
		white-space: nowrap;
		width: 10;
	}
	#mfp_thanks {
		text-align: center;
		font-size: 1.8rem;
		padding: 2rem 0;
		strong {
			color: $red;
			font-size: 2.4rem;
			display: block;
		}
	}
}
