@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("//fonts.googleapis.com/css?family=Sawarabi+Mincho");
.black { color: #333; }

.white { color: #fff; }

.red { color: #c30d23; }

.orange { color: #ea5514; }

.gyellow { color: #f8b62d; }

.yellow { color: #faee00; }

.green { color: #00913a; }

.dgreen { color: #006934; }

.cyan { color: #036eb8; }

.blue { color: #172a88; }

.parple { color: #920783; }

.gray { color: #9fa0a0; }

.gray10 { color: #efefef; }

.gray20 { color: #dcdddd; }

.gray30 { color: #c9caca; }

.gray40 { color: #b5b5b6; }

.gray50 { color: #9fa0a0; }

.gray60 { color: #898989; }

.gray70 { color: #727171; }

.gray80 { color: #595757; }

.gray90 { color: #3e3a39; }

.gray100 { color: #231815; }

#mfp_hidden { display: none; }

.mfp_thanks { text-align: center; font-size: 1.8rem; padding: 3.2rem 0; }

.mfp_thanks ul.mfp_caution li { color: #c30d23; margin: 0; padding: 3.2rem 0; }

.mfp_thanks strong { color: #c30d23; font-size: 2.4rem; }

form { display: flex; flex-direction: column; }

form * + * { margin-top: 3.2rem; }

form input, form textarea { width: 100%; display: block; border: 0.1em solid #ccc; border-radius: 0.25em; padding: 0.25em 0.5em; box-shadow: 0.1em 0.1em 0.1em #ccc inset; }

form textarea { width: 100% !important; height: 10em !important; }

form [type="checkbox"], form [type="radio"] { display: none; }

form [type="checkbox"] + * + i, form [type="checkbox"] + i, form [type="radio"] + * + i, form [type="radio"] + i { transform: scale(0.67); transition-duration: 0.3s; display: inline-block; position: relative; align-items: center; color: #c30d23; width: 1.25em; height: 1.25em; bottom: -0.2em; margin: 0 0.5em 0 0; background-color: #fff; border: 0.1em solid #ccc; box-shadow: 0.1em 0.1em 0.1em #ccc inset; }

form [type="checkbox"] + * + i::before, form [type="checkbox"] + i::before, form [type="radio"] + * + i::before, form [type="radio"] + i::before { position: absolute; }

form [type="checkbox"]:checked + * + i, form [type="checkbox"]:checked + i, form [type="radio"]:checked + * + i, form [type="radio"]:checked + i { transform: scale(1.1); }

form [type="checkbox"] + * + i, form [type="checkbox"] + i { border-radius: 0.05em; }

form [type="checkbox"]:checked + * + i::before, form [type="checkbox"]:checked + i::before { content: "\2713"; bottom: 0; transform: scale(2.5); }

form [type="radio"] + * + i, form [type="radio"] + i { border-radius: 50%; display: inline-flex; justify-content: center; align-items: center; }

form [type="radio"]:checked + * + i::before, form [type="radio"]:checked + i::before { content: ""; box-shadow: 0.1em 0.1em 0.1em bg inset; background-color: #333; border-radius: 50%; width: 100%; height: 100%; transform: scale(0.5); }

form .flex_pc { width: 100%; max-width: 1000px; }

@media screen and (min-width: 768px) { form .flex_pc > * { position: relative; padding: 0.8rem 1.6rem; }
  form .flex_pc dt { flex-basis: 16rem; max-width: 16rem; }
  form .flex_pc dd { flex-basis: calc(100% - 16rem); max-width: calc(100% - 16rem); } }

.must { display: block; background-color: #c30d23; border: solid 0.2rem #c30d23; text-shadow: 0 0.1rem 0.2rem #933; padding: 0.2rem 0.5rem; font-size: 1rem; color: #fff; float: left; margin: 0 0.5rem; border-radius: 0.4rem; box-shadow: 0 0 0.5rem #ccc; background-image: url(_images/mfp_header.png); background-size: 100% 100%; }

.optionally { display: block; background-color: #06C; border: solid 0.2rem #06C; text-shadow: 0 0.1rem 0.2rem #933; padding: 0.2rem 0.5rem; font-size: 1rem; color: #fff; float: left; margin: 0 0.5rem; border-radius: 0.4rem; box-shadow: 0 0 0.5rem #ccc; background-image: url(_images/mfp_header.png); background-size: 100% 100%; }

table #mfp_confirm_table { border-spacing: 0; border-collapse: collapse; width: 100%; }

table #mfp_confirm_table tr.mfp_colored { background-color: #F6F7F9; }

table #mfp_confirm_table tr.mfp_achroma { background-color: #fff; }

table #mfp_confirm_table tr th, table #mfp_confirm_table tr td { text-align: left; border-top: solid 0.1rem #ccc; }

table #mfp_confirm_table tr th { white-space: nowrap; }

table #mfp_confirm_table tr td { word-break: break-all; }

#mfp_phase_confirm h4 { font-size: 2em; padding: 1rem 0; text-align: center; }

#mfp_overlay { position: fixed; display: none; z-index: 10001; top: 0 !important; bottom: 0 !important; left: 0 !important; right: 0 !important; }

#mfp_overlay_inner { padding: 1.5rem; margin: 0 auto; border-radius: 0.5rem; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); }

#mfp_overlay_inner > * + * { margin-top: 1.6rem; }

#mfp_overlay_inner h4 { paddng: 1.6rem; text-align: center; color: #fff; text-shadow: 0 0 0.2em #000; }

#mfp_overlay_background { position: absolute; display: none !important; z-index: 10000; }

#mfp_loading_screen { z-index: 20000; opacity: 0.8; display: none !important; background-color: #000; position: absolute; }

#mfp_loading { z-index: 20001; position: absolute; display: none !important; width: 4rem; height: 4rem; }

.mfp_colored { background-color: #F6F7F9; }

.mfp_achroma { background-color: #fff; }

.mfp_err { display: none; position: absolute; top: -7rem; right: 1em; padding: 0.5rem 1rem 0.5rem 2em; background-color: #faee00; border-radius: 1rem; transform: scale(0.833); }

.mfp_err::before { content: "!"; display: inline-block; text-align: center; position: absolute; left: 1em; top: 1em; font-size: 0.5em; font-weight: 900; background-color: #c30d23; color: #faee00; border-radius: 0.4em; width: 2em; line-height: 2em; animation: err_before 0.5s ease-in-out infinite alternate; }

.mfp_err::after { content: ""; display: block; position: absolute; width: 0; height: 0; border-top: 2em solid #faee00; border-right: 2em solid transparent; transform: skewX(-30deg); }

@keyframes err_before { 0% { opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { opacity: 1; } }

.mfp_parent_error { border: solid 0.2rem #F00; }

.problem { background-color: #FCC; }

#mfp_error { background-color: #FEE; border: solid 0.1rem #F00; padding: 1rem; display: none; }

#mfp_error p { padding: 0; margin: 0; font-size: 1.4rem; text-align: center; }

#mfp_error p strong { font-size: 1.8rem; color: #F00; }

#mfp_warning { background-color: #FEE; border: solid 0.1rem #F00; padding: 1rem; display: none; border-radius: 0.5rem; }

#mfp_warning p { padding: 0; margin: 0; font-size: 1.4rem; text-align: center; }

#mfp_warning p strong { font-size: 1.8rem; color: #F00; }

#mfp_price { color: #c30d23; font-size: 3.6rem; padding: 1rem; font-weight: bolder; }

#mfp_price span { color: #666; font-weight: normal; }

button.mfp_next, button.mfp_prev { font-size: 1.8rem; margin: 1rem; padding: 0.5rem 1rem; }

button.mfp_next { float: right; }

button.mfp_prev { float: left; }

ul#mfp_phase_stat { padding: 1rem; text-align: center; }

ul#mfp_phase_stat li { display: inline-block; padding: 0.8rem 1.5rem; border-radius: 0.5rem; margin: 0 0.5rem; list-style: none; font-size: 1.4rem; }

ul#mfp_phase_stat li.mfp_phase_arrow { box-shadow: none; color: #999; padding: 0.8rem 0; }

ul#mfp_phase_stat li.mfp_active_phase { box-shadow: 0 0.1rem 0.6rem #000; background-image: url(_images/mfp_header.png); background-size: 100% 100%; background-color: #0068B7; border: solid 0.2rem #0068B7; font-weight: bolder; color: #fff; text-shadow: 0 0.1rem 0.3rem #000; }

ul#mfp_phase_stat li.mfp_inactive_phase { background-image: url(_images/mfp_header.png); background-size: 100% 100%; background-color: #EEE; border: solid 0.2rem #EEE; color: #999; box-shadow: 0 0.1rem 0.6rem #ccc; }

#mfp_shopping_cart { border: solid 0.1rem #ccc; margin: 0; padding: 0; }

#mfp_shopping_cart p { margin: 0; text-align: center; padding: 2rem 1rem; background-color: #FEE; }

table.mfp_shoppingcart { border-spacing: 0; border-collapse: collapse; width: 100%; }

table.mfp_shoppingcart thead tr td { background-color: #EEE; border-bottom: solid 0.1rem #ccc; text-align: center; padding: 0.5rem; }

table.mfp_shoppingcart tbody tr th, table.mfp_shoppingcart tbody tr td { padding: 0.5rem; border-bottom: solid 0.1rem #ccc; }

table.mfp_shoppingcart tbody tr td select { display: block; margin: 0 auto; text-align: center; }

table.mfp_shoppingcart tbody tr td select option { text-align: center; }

table.mfp_shoppingcart tbody tr th span { display: block; font-weight: normal; font-size: 1rem; color: #666; padding: 0.3rem 0; }

table.mfp_shoppingcart tfoot tr td { padding: 0.5rem; font-size: 1.6rem; font-weight: bolder; color: #900; }

table.mfp_shoppingcart td.msc_price { text-align: right; }

.mfp_buttons { clear: both; padding: 1rem 0; text-align: center; }

.imagebutton { margin: 0; padding: 0; border: none; outline: none; background: none; }

.mfp_element_file { display: inline-block; padding: 1rem 1rem; vertical-align: middle; border: solid 0.1rem #ccc; border-radius: 0.3rem; box-shadow: 0 0 0.5rem #ccc inset; background: #EEE; }

button.mfp_next, button.mfp_prev { font-size: 1.4rem; }

input#mfp_reserve_item, input#mfp_reserve_date { display: none; }

#mfp_reserve_wrapper { position: relative; overflow: hidden; border: solid 0.1rem #ccc; }

#mfp_reserve_inner { position: relative; padding: 0 0 0 10; overflow: auto; }

#mfp_reserve_inner table { border-spacing: 0; border-collapse: collapse; }

#mfp_reserve_inner table.mfp_reserve_table_label { position: absolute; top: 0; left: 0; width: 10; background-color: #FEE; z-index: 100; }

#mfp_reserve_inner table.mfp_reserve_table_value { padding: 0 0 0 0; }

#mfp_reserve_inner table.mfp_reserve_table_value tr td.mfp_reserve_active, #mfp_reserve_inner table.mfp_reserve_table_value tr td.mfp_reserve_warning { cursor: pointer; }

#mfp_reserve_inner table.mfp_reserve_table_value tr td.mfp_reserve_active:hover, #mfp_reserve_inner table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover { background-color: #E8EEF9; }

#mfp_reserve_inner table.mfp_reserve_table_value tr td.mfp_reserve_current { background-color: #0068B7; color: #fff; }

#mfp_reserve_inner table td.mfp_reserve_disabled { background-color: #ccc; }

#mfp_reserve_inner table td.mfp_reserve_warning { background-color: #FFC; }

table td, table th { padding: 0.5em; font-weight: normal; }

td.mfp_reserve_week_0 { color: #c30d23; }

td.mfp_reserve_week_6 { color: #172a88; }

.mfp_ok { border-radius: 0.5rm; background-color: #090; border: solid 0.1rem #090; display: inline-block; line-height: 1.5em; padding: 0 0.5rem; margin: 0 0.2rem; color: #fff; font-size: 1rem; background-size: 100% 100%; display: none; }

.prefcodeWrapper { position: relative; }

.prefcodeResult { position: absolute; top: 0; left: 0; border: solid 0.1rem #ccc; background-color: #fff; box-shadow: 0 0 0.5rem #ccc; display: none; }

.prefcodeResult div { cursor: pointer; }

.prefcodeResult div:hover { background-color: #C9EBFB; }

.prefcodeResult .prefcodeNext { background-color: #EEE; text-align: center; }

.prefLoading { background: url(_images/mfp_zip_loading.gif) no-repeat center center; }

.hidefield { height: 0; overflow: hidden; }

.showfield { height: auto; overflow: visible; }

.mfp_attached_thumbnails { display: none; padding: 0.5rem; margin: 0.5rem auto; border: solid 0.1rem #ccc; border-radius: 0.3rem; box-shadow: 0 0 0.5rem #ccc inset; background: #EEE; }

.mfp_attached_thumbnails ul { margin: 0; padding: 0; }

form#mailformpro dl dd div .mfp_attached_thumbnails ul li { display: inline-block; vertical-align: top; padding: 0; border: solid 0.4rem #fff; margin: 0.5rem; box-shadow: 0 0.2rem 0.5rem #999; }

form#mailformpro dl dd div .mfp_attached_thumbnails ul li a { display: block; max-height: 10; overflow: hidden; }

form#mailformpro dl dd div .mfp_attached_thumbnails ul li a img { display: block; max-width: 8rem; }

button.mfp_attached_reset { font-size: 1.4rem; }

.mfp_guide { position: relative; width: 0.1rem; height: 0.1rem; }

.mfp_guide div { position: absolute; bottom: 0; left: 0; margin-top: -2em; white-space: nowrap; border-radius: 0.5rem; padding: 0.5rem 1rem; line-height: 1em; color: #fff; font-weight: bolder; background: #F00; display: none; }

.mfp_ok { background-color: rgba(0, 255, 0, 0.2); }

.mfp_ng { background-color: rgba(255, 0, 0, 0.2); }

#mfp_OperationCheck #mfp_OperationCheck_inner { display: none; }

#mfp_OperationCheck strong { background: #090; display: block; color: #222; text-align: center; border-radius: 0.3rem; }

#mfp_OperationCheck p { padding: 0 0.5rem; margin: 0; }

#mfp_OperationCheck p a { color: #0C0; text-decoration: none; }

#mfp_OperationCheck p button { border: none; background: none; color: #0C0; cursor: pointer; }

#mfp_OperationCheck p a:hover, #mfp_OperationCheck p buttom:hover { text-decoration: underline; }

#mfp_OperationCheck ul li, #mfp_OperationCheck ul li label, #mfp_OperationCheck ul li label input { list-style: none; vertical-align: middle; }

#mfp_OperationCheck ul li label { text-decoration: underline; }

button #mfp_recorder_record, button #mfp_recorder_clear, button #mfp_recorder_restore { border-radius: 0.5rem; padding: 0.5rem 1rem 0.5rem 2em; border: solid 0.1rem #ccc; background: gradient(linear, center top, center bottom, from(#EEE), to(#ccc)); background: -webkit-gradient(linear, center top, center bottom, from(#EEE), to(#ccc)); background: -moz-linear-gradient(top, #EEE, #ccc); background: -ms-linear-gradient(top, #EEE 0%, #ccc 100%); text-shadow: 0 0.2rem 0 #fff; font-size: 1.6rem; cursor: pointer; outline: none; display: inline-block; margin: 0.5rem auto; }

button #mfp_recorder_record.enabled, button #mfp_recorder_clear.enabled, button #mfp_recorder_restore.enabled { background: url(_images/mfp_record_enabled.png) no-repeat 0.5rem center #EEE; background-size: 2.4rem 2.4rem; }

button #mfp_recorder_record { background: url(_images/mfp_record_disabled.png) no-repeat 0.5rem center #EEE; background-size: 2.4rem 2.4rem; }

button #mfp_recorder_clear { background: url(_images/mfp_record_remove.png) no-repeat 0.5rem center #EEE; background-size: 2.4rem 2.4rem; }

button #mfp_recorder_restore { background: url(_images/mfp_record_restore.png) no-repeat 0.5rem center #EEE; background-size: 2.4rem 2.4rem; }

#mfp_recorder_wrap { border: solid 0.1rem #ccc; padding: 1rem; text-align: center; margin: 0.5rem auto; }

.request_image { width: 10; }

.request_image img { max-width: 10; }

button.mfp_submit_enable { background: none; background: #000090; }

button.mfp_submit_disable { background: none; background: #FD8282; }

span.mfp_tips { background-image: url(_images/mfp_header.png); background-size: 100% 100%; background-color: #FCC; display: block; border-radius: 0.5rem; padding: 1rem; margin: 0.2rem; box-shadow: 0 0.2rem 1rem #999; }

span.mfp_tips strong { color: #800040; }

span.mfp_tips span { display: block; padding: 1rem; color: #008080; }

span.mfp_tips em { font-style: normal; color: #090; font-weight: 700; }

@media screen and (max-width: 767px) { #mfp_phase_confirm h4 { font-size: 1.8rem; }
  ul#mfp_phase_stat { padding: 0; text-align: left; }
  ul#mfp_phase_stat li { text-align: center; padding: 0.5rem 0; border-radius: 0.3rem; margin: 0.5rem; list-style: none; font-size: 1.4rem; width: 28%; }
  ul#mfp_phase_stat li.mfp_phase_arrow { bos-shadow: none; display: none; }
  #mfp_confirm_table tr th { white-space: nowrap; width: 10; }
  #mfp_thanks { text-align: center; font-size: 1.8rem; padding: 2rem 0; }
  #mfp_thanks strong { color: #c30d23; font-size: 2.4rem; display: block; } }
